<h3>1. Visit the <a href="javascript:window.parent.location.href='/ui/setup/Setup'">setup page</a></h3>
<div>
	<img hspace='10' vspace='10' src='https://noted.cc/static/images/info/sf/images/sf_help_1.png'/><br/>
</div>

<h3>2. Add a remote site</h3>
<div>
	<img hspace='10' vspace='10' src='https://noted.cc/static/images/info/sf/images/sf_help_2.png'/>
</div>

<h3>3. Setup the Salesforce "<a href="javascript:window.parent.location.href='/home/home.jsp'">Home</a>" page component</h3> (optional)
<div>
	<img hspace='10' vspace='10' src='https://noted.cc/static/images/info/sf/images/sf_help_3.png'/>
</div>

<h3>4. Include Calenvy's widget on the "<a href="javascript:window.parent.location.href='/home/home.jsp'">Home</a>" page component</h3> (optional)
<div>
	<img hspace='10' vspace='10' src='https://noted.cc/static/images/info/sf/images/sf_help_4.png'/>
</div> 

<h3>5. Visit "<a href="javascript:window.parent.location.href='/home/home.jsp'">Home</a>" to see Calenvy in action</h3> (optional)
<div>
	<img hspace='10' vspace='10' src='https://noted.cc/static/images/info/sf/images/sf_help_5.png'/>
</div>
