{% load i18n %}<html lang="en-US">
<head>
<title>{{site.name}} | {% block title %}{% trans 'Internal team communication dashboard made easy.' %}{% endblock title %}</title>
<META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">
<LINK REV="made" href="mailto:founders@{{site.domain}}">
<META NAME="keywords" CONTENT="{% trans 'Scheduling, contacts, team communication' %}"/>
<META NAME="description" CONTENT="{% block description %}{% trans 'Sync Gmail, Exchange, IMAP emails to Salesforce & send automated follow-up emails with Follow-up Robot.' %}{% endblock %}"/>
<META name="copyright" content="">
<META name="robots" content="noarchive">
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/site_global.css" />

{% block style %}
	<!-- additional stylesheets go here -->
{% endblock style %}

<!--[if IE]>
<style type="text/css"> 
	#o_head {
		width: 870px;
	}
	#parse {
		z-index: 100000;
	}
	
	.loading_bar {
	    position:absolute;
	}
	
	.outer_footer {
		position:relative; 
		top: 5px;
	}
	
	.footer {
		height: 40px;
	}
	
	h1 {
		font-size: 190%;
	}
	
	h2 {
		font-size: 140%;
	}
	
	h3 {
		font-size: 120%;
	}
</style>
<![endif]-->

<!--[if IE]><script language='javascript' src='/static/js/lib/canvas.js'></script><![endif]-->


<script src="/static/js/lib/jquery-1.4.2.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/js/lib/cufon.js"></script>
<script type="text/javascript" src="/static/js/lib/mp_400_700.font.js"></script>

<script type="text/javascript">
Cufon.replace('.mp');

Cufon.replace('h1', {
	color: '#fff', //-linear-gradient(#fff, #fff)
	textShadow: '#22456F 1px 2px'
});

Cufon.replace('h1.dark', {
	color: '#666', //-linear-gradient(#fff, #fff)
	textShadow: '#ccc 1px 2px'
});

Cufon.replace('div.content h1', {
	color: '-linear-gradient(#ccc, #666)', //
	textShadow: '#eee 1px 2px'
});

Cufon.replace('h2', {
	color: '#333',
	textShadow: '#ccc 1px 2px'
});

</script>

<!-- <link rel="stylesheet" href="/static/js/lib/fancybox/jquery.fancybox-1.2.6.css" type="text/css" media="screen">
<script type="text/javascript" src="/static/js/lib/fancybox/jquery.fancybox-1.2.6.pack.js"></script>  -->

<script type="text/javascript" src="/dash/main_javascript.js?agent={{agent}}"></script>

{% block javascript %}
	<!-- additional javascript goes here -->
{% endblock javascript %}

</head>

<body style='margin: 0px; background: #b7d6fe url(/static/images/new_design/images/bg.gif) repeat-x;'> <!--  background: #94c2fd url(/static/images/new_design/images/bg.gif) repeat-x; -->
{% include 'csrf_token.html' %}

<div id='sky' style='padding-bottom: 10px; background: url(/static/images/new_design/images/sky_bg.jpg) no-repeat top center;' align='center'>

	{% block outer_content %}

	<div id='o_head' style='{% block header_style %}padding-top: 10px;{% endblock %}'>
		
	
		{% block header_nav %}
          	{% include 'main_header_nav.html' %}
        {% endblock %}
	
	</div>
	
	
	<div>

		<div style="{%block global_style%}width: 850px; text-align:left;{%endblock%}">
				
		    	{% if messages %}
			    	<div class="rounded_lower rounded_upper outer_content" style='margin-bottom: 10px; background: #fff;  height: auto; color: #D6156C; '>
		                <div style='padding: 10px;'>
		                    
		                    <strong>{% trans 'Notifications:' %}</strong>
		                    
		                    <ul>
		                    {% if messages.warnings %}
		                        {% for warning in messages.warnings %}
		                        <li>Warning: {{ warning|safe }}</li>
		                        {% endfor %}
		                    {% endif %}
		                    {% if messages.notices %}
		                        {% for notice in messages.notices %}
		                        <li>{{ notice|safe }}</li>
		                        {% endfor %}
		                    {% endif %}
		                    </ul>
		
		                </div>
			        </div>
		        {% endif %}
		       
		        <div style='clear:both;'>
			        
			        <div style='clear:both;'>
				        {% block header %}
				        
				        {% endblock %}
			        </div>
			        
			        <div style='' class='{% block content_class %}{% endblock %}'>
				        {% block content %}
				        	
				        {% endblock content %}
			        </div>
			        
			        <div style='clear:both;'></div>
		        </div>
		        <div class='rounded_lower' style='background: url(/static/images/dark_bg.gif) #2B2825; border-top:1px solid #2B2825; background-repeat: repeat-x; height: auto; color: #999; '>

		            {% block footer %}
			        	{% include 'main_footer.html' %}
			        {% endblock %}
			        
		        </div>
		        
		        <div style='clear:both;'></div>
		        
		        <div class='outer_footer' style=' text-align:center;' align='center'>
		        	
		        	{% block outer_footer %}
		        			<div align='center' style='text-align:center; margin-top: 15px; font-size: .9em; '>
					  				<div align='center' style='margin-top: 10px;'>
						  				
					  				</div>
					  				
					  		</div>    
		        	{% endblock %}
		        
		        </div>
		        
		        
		        <div class='outer_footer_extended' style='text-align:center;' align='center'>
		        	
		        	{% block outer_footer_extended %}
		        		{% include 'main_outer_footer_extended.html' %} 
		        	{% endblock %}
		        
		        </div>
		        
		
	    </div> <!-- end content container -->

	</div>
	
	{% endblock %}
	
</div>

<!-- new site design -->

<div id="loading_bar" class='loading_bar rounded_lower' style="z-index:1000009;display:none; font-weight: bold; border: 2px solid #F4E9DF; border-top: 0px; top:0px; left: 48%; width: auto; color: #fff; padding: 10px; background:url(/static/images/dark_bg.gif) #000; background-repeat: repeat-x;">
{% trans 'Please wait...' %}
</div>

<div id='dark_overlay' style='display: none;position: fixed; z-index: 3; opacity: .5; background: #000; top: 0px; left: 0px; width: 100%; height: 100%; cursor: pointer;' onclick='Page.toggle_open_box();return false;'></div>

<script type="text/javascript"> Cufon.now(); </script>

{% comment %}
{% ifequal settings.SERVER 'live' %}
	
{% endifequal %}
{% endcomment %}
</body>

</html>