{% extends 'mainv1_alias.html' %}
{% load i18n %}
{% load assist_tags %}
{% load account_tags %}

{% block dash_title %}

{% endblock %}

{% block style %}

<style>

.newsfeed_item_text {
	color: #999;
	clear:both;
}

.kb_block {
	margin-bottom: 10px;	
}

.newsfeed_item_text:hover {
	color: #000;
}

.person a, .person a:link {
    color: #000;
}

a.assigned_to, a.assigned_to:link, a.assigned_to:active {
	color: blue;
}

table.calendar {
	border-collapse: separate;
	border-spacing: 2px
}

.dateheader {
	height: 30px;
	text-align: center
}

.daysofweek {
	height: 20px;
	text-align: center
}

table.calendar td {
	margin: 2px;
	padding: 1px
	width: 120px;
	height: 52px
}

table.calendar td.daynumber {
	font-size: 8pt;
	vertical-align: top
}

table.calendar td.noday {
	background-color: #eef
}

table.calendar td.free {
	background-color: #c5dbff
}

table.calendar td.busy {
	background-color: #ffcece
}

table.calendar td.compact {
	width: 28px;
	height: 20px;
	text-align: center
}
.notify a, .notify a:link {
	color: #000;	
}

.file_has_perms {
    color: #000;
}

.file_request_perms {
    color: #999;
}
.file_link {
    border-bottom: 1px solid #000;
    cursor: pointer;
}
.person_collections {
    
    position: relative;
    z-index: 444;
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	-moz-binding: url('/static/xml/ellipsis.xml#ellipsis');
}

p {

}

.box_heading_red a, .box_heading_red a:link, .box_heading_red a:active  {
	color: #fff;
}

.box_content a, .box_content a:link, .box_content a:active {
	color:#222;
}

.box {
	margin-bottom: 10px;
}


.kb_outer_block {
	border-bottom: 1px solid #ccc;
}

.kb_outer_block_compact {
	font-size: .9em;
}

.wizard .block_content a, .wizard .block_content a:link, .wizard .block_content a:active {
	color: #999;
}

.box_content {
	background: #fff;
	border: 1px solid #eee;
}

.action_href {
	opacity: .4;
}

.action_href:hover {
	opacity: 1;
}

.load_widgets {
	text-align: center;
}

.box_heading_widget {
	cursor: pointer;
}

#widgets_bottom_right {
	position:fixed; 
}

#widgets_right {
	width: 20%;
}

.newsfeed_item_highlight {
		background: #eee;
		padding: 2px 2px 0px 2px;
		border: 1px solid #ccc;
}

.message_completed {
		background: #e8e8e8;
		padding: 2px 2px 0px 2px;
		border: 1px solid #ddd;
		opacity: 0.6;		
}

.message_incomplete {
		background: #fee;
		padding: 2px 2px 0px 2px;
		border: 1px solid #fcc;		
}

</style>

<!--[if IE]>
<style type="text/css"> 
#widgets_bottom_right {
	position:absolute; 
}
#widgets_right {
	width: 19%;
}
.widgets_left {
	overflow: hidden;
}

</style>
<![endif]-->

{% endblock %}

{% block extra_javascript %}
<script language='javascript' src='/dash/main_account.js?agent={{agent}}'></script>
<script language="javascript">
	$(document).ready(function() {
		Page.ready();		// load the widgets
	});
</script>
{% endblock extra_javascript %}
	
<!-- Widgets go here -->

{% block widgets_right %}	
	<div id='widgets_right' style='float:right; text-align: left;'>
		<!-- Widgets will be inserted by jQuery here -->
	</div>
{% endblock %}

{% block global_style %}float: left; width:{% ifequal fullscreen 'default' %}80%{% else %}100%{% endifequal %}; text-align:left;{% endblock %}

{% block widgets_left %}	
	{% comment %}
		{{ session.session_key }} for debugging session issues
	{% endcomment %}
	 		
	<div id='widgets_left'>
		<!-- Widgets will be inserted by jQuery here -->
	</div>
	
	<div style='width: 100%;'>
		 <img src='/static/images/spacer.gif' width='1' height='1'/>
	</div>
{% endblock widgets_left %}

{% block message_box %}
{% include 'widgets/nav.html' %}
{% endblock %}

{% block content %}

<div class="outer_block" style='padding:;'>

	{% include 'main_higher_services.html' %}
	
	<div style='z-index: 3;'>
	
		{% include 'widgets/crawl_display.html' %}
		
		{% if alias_list %}
		<div style=''>
				<div class='box_heading box_heading_yellow rounded_upper'>
					<h3>Your team:</h3>
				</div>
				<div class='person_box me_event'>
					{% for a in alias_list %}
						{{a.ez_name}} 
					{% endfor %}
				</div>
		</div>
		{% endif %}
		
		<div id='widgets_center' style=''>
			<!--  jQuery will add widgets here -->
			
			{% comment %}
			<div class='load_widgets'>
				<img src='/static/images/ajax-loader-small.gif'/>
			</div>
			{% endcomment %}
			
		</div>
		
		
	
	</div>

</div>

{% endblock content %}

{% block modals %}

<div style='clear: both; z-index: 1000000;' class='modals'>
	{% include 'modals/contacts_select_fields.html' %}
	{% include 'modals/contacts_import.html' %}
	{% include 'modals/contacts_widget.html' %}
		
	{% include 'modals/set_password.html' %}
	{% include 'modals/set_timezone.html' %}
	
	
	
	{% if alias.account.service.allow_crawl %}
		{% if alias.show_modal_server %}
			{% include 'modals/help.html' %}
			{% include 'modals/setup_server.html' %}
		{% endif %}
	{% endif %}
	
		
	<!-- modal 2 -->

</div>

<script language="javascript">
	$(document).ready(function() {
		
		var password_set = ({% if alias.password_hash %} true {% else %} false {% endif %});
		var server_enabled = ({% if alias.server_enabled %} true {% else %} false {% endif %});
		
		if (!password_set) {
			Wizard.add_to_initial_list('.wizard_password');
			Wizard.add_to_initial_list('.wizard_time_zone');
		}
		
		if (!password_set) {
			Wizard.add_to_initial_list('.wizard_help');
		}	
		
		if (!server_enabled) {
			Wizard.add_to_initial_list('.wizard_server');
		}	
		
		Wizard.hide_and_show_next();
	});
</script>

{% endblock %}

{% block widgets_bottom_right %}
	<div id='widgets_bottom_right' style='bottom: -10px; right: 0px; '>
						
			<!-- Widgets will be inserted by jQuery here -->
	</div>
{% endblock %}
