{% load i18n %}
{% load assist_tags %}
{% load account_tags %}
	
	<div class='footer' style='height: auto; padding: 10px; background: #eee; overflow: auto;'>
	
		<div>
			<div style='float:left; width: 33%;'>
				
			    <h3 style=''>{% trans 'Support' %}</h3>
			    
			    <div align='left' style='text-align:left; padding-top: 5px;'>
			    			    	
				    {% trans 'Account representative:' %}<br/>
				    <b>{% trans 'Calenvy' %}</b>
				    <br/>
				    <a href='mailto:calenvy@{{site.domain}}'>calenvy@calenvy.com</a>
				    <br/>
				    (415) 683-0579
				    <div style='margin-top: 5px;'>
				    	<a href='http://www.linkedin.com/in/schliker' target='_blank'><img border='0' src='/static/images/social_logos/linkedin.ico'/></a> <a href='http://twitter.com/calenvy' target='_blank'><img border='0' src='/static/images/social_logos/twitter.ico'/></a>
				    </div>
				    
				    <div style='margin-top: 5px; color: #666; font-size: .9em;'>
				    	{% trans 'Account ID:' %} {{alias.account.id}} <br/>
				    	{% trans 'Alias ID:' %} {{alias.id}}
				    </div>
			    </div>
			    
			
			</div>
			
			<div style='float:left; width: 40%;'>
				
				<h3>{% trans 'Integrations' %}</h3>
				
				{% if alias.account.service.allow_outlook %}
				    
					<div align='left' style='text-align:left; padding-top: 5px;'>
					    <a target='_blank' href='/install/'>
					    	{% trans 'Gmail plug-in' %}
					    </a> 			    
				    </div>
		    					
	    		{% endif %}
				
					
				{% if alias.account.service.allow_sf %}
					<div align='left' style='text-align:left; padding-top: 5px;'>
					    <a target='_blank' title='{% trans "Install the Salesforce plugin" %}' href='http://sites.force.com/appexchange/listingDetail?listingId=a0N30000001e8euEAA'>
					    	{% trans 'Salesforce connector' %}
					    </a>
				    </div>
				{% endif %}
				 
				
				
				{% if alias.account.service.allow_outlook %}
				    
					<div align='left' style='text-align:left; padding-top: 5px;'>
					    <a title='{% trans "Download the Outlook plugin" %}' target='_blank' href='/products/outlook/download/'>
					    	{% trans 'Microsoft Outlook (2007/2010) plug-in' %}
					    </a> 			    
				    </div>
		    					
	    		{% endif %}
	    		
	    		<div align='left' style='text-align:left; padding-top: 5px;'>
				    <a title='{% trans "Download the Windows & Mac application - behind the firewall, on the desktop, secure." %}' href='/download/'>
				    	{% trans 'Desktop sync application' %}
				    </a> 
				</div>
				
			</div>
			
			<div style='float:left; width: 23%;'>
				<h3 style=''>{% trans 'Help' %}</h3>
			
			    <div align='left' style='text-align:left; padding-top: 5px;'>
			    	<a href='http://support.calenvy.com/documentation/'><strong>{% trans 'New!' %}</strong> {% trans 'Support wiki' %}</a><br/>
					<a href='/products/salesforce-automation/tips/'>{% trans 'Salesforce tips & tricks ' %}</a><br/>
					<a href='/products/salesforce-automation/help/'>{% trans 'Salesforce integration guide' %}</a><br/>
				</div>
			
			</div>
		
			<div style='clear:left; height: 15px; border-bottom: 1px solid #eee; margin-bottom: 15px;'></div>
		
		</div>
		
		
		<div style='float: left; overflow:hidden; width: 130px; height: 20px; '>
			{% ifequal settings.SERVER 'live' %}
			<iframe src="https://www.google.com/talk/service/badge/Show?tk=z01q6amlq8vp173pmomt95e6p34e8m5jk5anb5evpv50m9po86ll85lven8i1g4h07te55dbt3115usb8s2gjqnneddmah5t7058m43neadcgj5s4mu3bevgj8ut3hlnel7mtijoah9dj0871uci42hfjcb3ef2qcte9s79g4&amp;w=300&amp;h=18" allowtransparency="true" frameborder="0" height="18" width="300"></iframe>			<!-- http://www.google.com/talk/service/badge/New -->
 			{% endifequal %}
 		</div>    

	
		{% if alias.account.service %}
			{% ifnotequal storage_used_percent None %}
				<div style='float:right; position: relative; top: 5px; right: 5px; font-size: .9em;'>
					{{alias.account.service.max_storage_gb}} GB max
					{% if alias.is_admin %}
						- <a href='/info/go/{{alias.account.service.name}}'>{{alias.account.service.name}}</a> 
					{% endif %}
				</div>
				
				<div style='float: right; position: relative; right: 10px;'>
					<div title='{% trans "Storage used" %}' style='background: #AEC7E3; border:1px solid #3465A4; width: 150px; height: 15px; margin-top: 5px; ' class='rounded_upper rounded_lower'>
						<div align='right' style='height: 15px;  font-size:.9em; color: #fff; background: #3465A4; width: {{storage_used_percent}}%;' id='crawl_loader' class='rounded_upper rounded_lower'>
							{{storage_used_percent}}%
						</div>
					</div>
				</div>
				
				
				
			{% endifnotequal %}
		{% endif %}
		
		<div style='clear:left;'></div>
	
	</div>