{% load i18n %}<html lang="en-US">
<head>
<META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">
<META HTTP-EQUIV="Expires" CONTENT="Sun, 22 Feb 2009 04:50:18 GMT">
<LINK REV="made" href="mailto:founders@{{site.domain}}">
<META NAME="keywords" CONTENT="Virtual assistant by email, email assistant, email group status reports.  Get your own email assistant with {{site.name}}">
<META NAME="description" CONTENT="{% trans 'Need a personal assistant to handle group scheduling?  '%}{{site.name}} {% trans 'is virtual assistance by email.  Never forget another appointment again: you can forward all emails related to events directly to assistant@' %}{{site.domain}}.  {% trans 'Companies can get their own noted account and each employee is assigned their own assistant.  Assistant services are a great value add for any business and can be plug and play. ' %}{{site.name}} {% trans 'provides group scheduling, group status alerts, reminders, event invitation management, and virtual assistance.' %}">
<META NAME="author" CONTENT="Noted, Inc.">
<META NAME="ROBOTS" CONTENT="ALL">
<style>
	body {
        font: 12px 'Helvetica Neue', 'Helvetica', 'Arial';
        background: #2B2825;
        padding-bottom: 10px;
	}
    .design_spacer {
        height: 2px;
        background: #fff;
        clear: both;
        max-height: 2px;
    }
    .widgets_right a, .widgets_right a:link, .widgets_right a:active, .widgets_right a:hover {
    	color: #000;
    }
	.rounded_lower {
		-moz-border-radius-bottomright: 10px; 
		-webkit-border-bottom-right-radius: 10px; 
		-moz-border-radius-bottomleft: 10px; 
		-webkit-border-bottom-left-radius: 10px; 	
	}
	.rounded_upper {
		-moz-border-radius-topright: 10px; 
		-webkit-border-top-right-radius: 10px; 
		-moz-border-radius-topleft: 10px; 
		-webkit-border-top-left-radius: 10px;	
	}
	.rounded_left {
		-moz-border-radius-topleft: 10px; 
		-webkit-border-top-left-radius: 10px; 
		-moz-border-radius-bottomleft: 10px; 
		-webkit-border-bottom-left-radius: 10px;	
	}
	.rounded_right {
		-moz-border-radius-topright: 10px; 
		-webkit-border-top-right-radius: 10px; 
		-moz-border-radius-bottomright: 10px; 
		-webkit-border-bottom-right-radius: 10px;	
	}
	.post_button a, .post_button a:link {
        color: #000;
        text-decoration: none;
    }
    .post_button {
        padding: 5px;
        margin-right: 10px;
        background: url(/static/images/yellow_bg.gif) #FCF8BC; 
        background-repeat: repeat-x; 
        -moz-border-radius: 10px; 
        -webkit-border-radius: 10px;
        color: #000;
        border: 1px solid #FFF;
        border-bottom: 1px solid #2B2825;
    }
	#header_nav span {
        margin: 10px;
		margin-right: 0px;
        top: 15px;
        position: relative;
    }
	#header_nav span a {
		color: #D6156C;
		border-bottom: 1px solid #0B8C8F;
		text-decoration: none;
	}
	#header_nav span a:hover {
		border-bottom: 2px solid #0B8C8F;
		text-decoration: none;
	}
	a, a:link, a:hover, a:active {
		color: #fff	
	}
	
	.footer a, .footer a:link {
    	color: #eee;
    }
	
    .block {
        padding-left: 21px; 
        padding-top: 10px; 
        padding-bottom: 10px; 
		padding-right: 20px;
    }
    #tooltip {
    	position: absolute;
    	z-index: 3000;
    	border: 1px solid #111;
    	background-color: #eee;
    	padding: 5px;
    	opacity: 1;
        -moz-border-radius: 5px; -webkit-border-radius: 5px; 
        }
    #tooltip h3, #tooltip div { margin: 0; }
	
	.header_submsg li {
		margin-left: 15px;	
	}
	.msg_locked {
		width: 120px;
		height: 1px;
		overflow:hidden; 
		
	}
	.footer span {
		margin-right: 20px;	
	}
	

	.me_event {
		background: ;
		padding: 5px;
		border-top: 1px solid #FCF8BC;
	}
	.me_event_low {
		background:;
		padding: 5px;
		font-weight:lighter;
		color: #999;
	}
	.box_heading {
		background:url(/static/images/red_bg.gif); 
		height: 25px; 
		color: #FCF8BC; 
		width: 100%;
		margin-bottom:0px;
	}
	.box_heading_yellow {
		background:url(/static/images/yellow_bg.gif); 
		color: #D6156C;
		margin-bottom: ;
	}
	.box_heading h3 {
		padding-top: 5px;
		margin-left: 10px;	
		
	}
	.person_box {
		padding: 5px;
		padding-left: 10px;
		margin-bottom: 10px;
	}
	
	.notify {
		margin-bottom: 10px;
	}
	
	.header_msg a {
		text-decoration: none;
	}
	.header_msg a:hover {
		text-decoration: none;
	}
	.form_left {
		width: 120px;	
		float: left;
	}
	.outer_block {
		color: #000;	
		background: #fff;
		
		
	}
	.outer_block a, .outer_block a:link {
        color: #000;
        
    }
    .loading_bar {
    	position:fixed;
    }

    .post_button a, .post_button a:link {
        color: #000;
        text-decoration: none;
    }
    .post_button {
        padding: 5px;
        margin-right: 10px;
        background: url(/static/images/yellow_bg.gif) #FCF8BC; 
        background-repeat: repeat-x; 
        -moz-border-radius: 10px; 
        -webkit-border-radius: 10px;
        color: #000;
        border: 1px solid #FFF;
        border-bottom: 1px solid #2B2825;
    }
	input.big_input {
    	height: 30px; 
    	padding-bottom: 2px;
   	 	font-size: 18px;
	}
	h1 {
		margin-bottom: 10px;
		color: #D6156C;
		margin-top: 10px;
	}
	.big_input_submit {
		border: 1px solid #000;
		cursor: pointer;
		color: #000;
		float: left;
		padding: 10px; 
	}
	.toggle {
		border: 2px solid #D6156C;
		background: #FCF8BC url(/static/images/yellow_bg.gif);
		cursor: pointer;
		color: #000;
	}
    
    .white_bg {
    	background: #fff;
    	
    }
    .white_bg a, .white_bg a:link, .white_bg a:hover {
    	color: #000;
    }
    .widgets_left a, .widgets_left a:link {
    	color: #000;
    }

	.giant_config_modal {
		position: fixed;
	}
	
	.action_icon {
		float: right; margin-right: 5px;
	}
	.status_msg {
		background: url(/static/images/yellow_bg.gif) #FCF8BC; 
		background-repeat:repeat-x; 
		padding: 10px;
		margin-top:;
	}
	.dash_title h1 {
		color: #FCF8BC;
	}
</style>
{% block style %}
	<!-- additional stylesheets go here -->
{% endblock style %}

<!--[if IE]>
<style type="text/css"> 

#header_nav span {
		margin-right: 10px;
}
.header_title {
left: -10px;
position: relative;
}
#parse {
	z-index: 100000;
}
.loading_bar {
    position:absolute;
}
.ie_logo {
margin-left: 10px;
}

.giant_config_modal {
	position: absolute;
}

.action_icon {
	margin-right: 5px;
	display: inline;
	position: absolute;
	left: -40px;
}
.action_icon_reply {
	margin-right: 5px;
	display: inline;
	position: absolute;
	left: -55px;
}
.header_logo {
	margin-left: 10px;
}
</style>
<![endif]-->

<!--[if IE]><script language='javascript' src='/static/js/lib/canvas.js'></script><![endif]-->

<link rel="stylesheet" type="text/css" media="screen" href="/static/jqGrid/themes/sand/grid.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/static/jqGrid/themes/jqModal.css" />

<script language="javascript" src="/static/js/lib/jquery-1.4.2.min.js"></script>
<script language="javascript" src="/static/js/lib/jquery.modal.js"></script>
<script language="javascript" src="/static/js/lib/jquery.json-2.2.min.js"></script>


<link rel="stylesheet" href="/static/css/thickbox.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/static/js/lib/fancybox/jquery.fancybox-1.2.6.css" type="text/css" media="screen">
<script type="text/javascript" src="/static/js/lib/fancybox/jquery.fancybox-1.2.6.pack.js"></script>
<script type="text/javascript" src="/dash/main_javascript.js?agent={{agent}}"></script>

{% block javascript %}
	<!-- additional javascript goes here -->
{% endblock javascript %}

<title>{{site.name}} - {% block title %}{% trans 'Dashboard' %} {% endblock title %}</title>

</head>

<body style='margin: 0px; background: #FFFEEF'> <!--  url(/static/images/cover/center_fade_bg_2.gif) no-repeat top center; -->

{% block modals %}

{% endblock modals %}

<div style='height: auto;' align='center'>

	<div style='width: 99%; height: 50px;'>
		
		<div style=''>
            
           {% include 'main_header_nav.html' %} 
		</div>
		
		
	</div>

	<div style='width: 100%; height: auto; background:; clear: both;  '>
		
		
		
		<div style="{%block global_style%}width:100%; text-align:left;{%endblock%}" align='center'>
			{% block content %}
				
	        {% endblock content %}
	    </div> <!-- end content container -->
	    
	    
   			
	
	</div>
	
</div>

<div id='dark_overlay' style='display: none;position: fixed; z-index: 3; opacity: .5; background: #000; top: 0px; left: 0px; width: 100%; height: 100%; cursor: pointer;' onclick='Page.toggle_open_box();return false;'></div>
{% comment %}
<script type="text/javascript">
var uservoiceJsHost = ("https:" == document.location.protocol) ? "https://uservoice.com" : "http://cdn.uservoice.com";
document.write(unescape("%3Cscript src='" + uservoiceJsHost + "/javascripts/widgets/tab.js' type='text/javascript'%3E%3C/script%3E"))
</script>
<script type="text/javascript">
UserVoice.Tab.show({ 
  key: 'noted',
  host: 'noted.uservoice.com', 
  forum: 'general', 
  alignment: 'left', /* 'left', 'right' */
  background_color:'#D6156C', 
  text_color: 'white', /* 'white', 'black' */
  hover_color: '#06C',
  lang: 'en' /* 'en', 'de', 'nl', 'es', 'fr' */
})
</script>
{% endcomment %}

{% comment %}
{% ifequal settings.SERVER 'live' %}
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-8259711-1");
	pageTracker._trackPageview();
	} catch(err) {}</script>
{% endifequal %}
{% endcomment %}

</body>

</html>