{% load i18n %}
{% comment %}
{% if higher_services %}

	<script language="javascript">
	
		$(document).ready(function() {
			
			{% for s in higher_services %}
				$('#{{s.service.name}}_features').html(Page.get_service_features_html({{s.features_json|safe}}));
			{% endfor %}
		
		});
	
	</script>

	<!-- If there are any services with either more features or more email retention, then show this: -->
	<div style="background: #FCF8BC url(/static/images/yellow_bg.gif); background-repeat:repeat-x; padding: 5px; font-size:.9em;" class="notify">
		
		<input style='float:right; font-size: .8em; margin-top: -3px;' type='button' onclick='$("#promo_details").toggle(); if (this.value=="-") { Ajax.set_modals("notice_upgrade", 0); this.value="+"; } else { Ajax.set_modals("notice_upgrade", 1); this.value="-"; } return false;' value='{% if alias.show_notice_upgrade %}-{% else %}+{% endif %}'/>
		
		<div id='promo_title' style='margin-bottom: 5px;'>
			{% if alias.account.service.allow_sf_incoming and not alias.account.service.allow_sf_outgoing %}
				<b>{% trans 'Did you know?' %}</b> The {{alias.account.service.name}} {% trans 'package only syncs incoming emails. Upgrade to sync both incoming and outgoing emails.' %}
			{% else %}
				{% if alias.account.service.allow_sf_outgoing and not alias.account.service.allow_sf_incoming %}
					<b>{% trans 'Did you know?' %}</b> The {{alias.account.service.name}} {% trans 'package only syncs outgoing emails. Upgrade to sync both incoming and outgoing emails.' %}
				
				{% else %}
				
					<b>{% trans "Did you know?" %}</b> {% trans 'Your' %} <i>{{alias.account.service.name}}</i> {% trans "account is limited - upgrade to add more users and features." %}
				
				{% endif %}
			
			{% endif %}
			
		</div>
		
		<div id='promo_details' style='{% if not alias.show_notice_upgrade %}display: none;{% endif %} overflow: auto;'>
			<!-- <a href='/info/go/{{alias.account.service.name|lower}}'></a> -->
			<table border='0'>
				<tr valign='top'>
				{% for s in higher_services %}
					<td style='font-size: .9em;'>
						<div style='margin-right: 5px; white-space:nowrap; border-right: 1px solid #eee; background: #fff; padding: 5px; font-size: .7em; ' class='rounded_upper rounded_lower'>
							
							{% ifnotequal s.service alias.account.service %}
							       <input style='font-size: .9em; margin-left: 5px; float: right;' type='button' name='order' value="{% trans 'Upgrade' %}" onclick="window.location='{% if not agent %}/info/go/{{s.service.name|lower}}/{% else %}/info/order/{% endif %}?agent={{agent}}&service={{s.service.name|lower}}&upgrade=1'; return false;"/>
							{% else %}
							     {% if show_days_remain %}
								    <input style='font-size: .9em; margin-left: 5px; float: right;' type='button' name='order' value="{% trans 'Subscribe!' %}" onclick="window.location='{% if not agent %}/info/go/{{s.service.name|lower}}/{% else %}/info/order/{% endif %}?agent={{agent}}&service={{s.service.name|lower}}&upgrade=1'; return false;"/>
							     {% endif %}
							{% endifnotequal %}
							
							<b>
								{% ifequal s.service alias.account.service %}
									<span style='color: #666;'>{% trans 'You' %}: {{s.service.name}}</span>
								{% else %}
									{{s.service.name}} {% trans 'upgrade' %}
								{% endifequal %}
							</b>
							
							<div style='clear:right;'></div>
							
							<div id="{{s.service.name}}_features">
								<!--  This will be filled in by the Javascript -->
							</div>
							
							{% ifnotequal s.service alias.account.service %}
								<div style='margin-top: 5px;'>
									<b style='color: blue; font-size: .9em;'>{{s.price_difference|safe}}</b>
								</div>
							{% endifnotequal %}
							
						</div>
					</td>
				{% endfor %}
				</tr>
			</table>
			
			<div style='clear:both; height: 0px;'></div>
		</div>
	</div>
	
{% endif %}
{% endcomment %}