{% extends "main.html" %}
{% block title %}Noted is down for the moment.{% endblock title %}
{% block content %}
<div class=''>
    
    <img src='/static/images/down.jpg'/>
    
</div>
{% endblock content %}

{% block content_class %}white_bg outer_content{% endblock %}


{% block header_nav %}
{% endblock %}

{% block footer %}
Email: <strong>founders [at] noted (.) cc</strong> if you need to contact us.
{% endblock %}