{% extends 'emails/main.v1.html' %}
{% load i18n %}

{% block content %}
<p>
    {% trans 'I have been renamed to' %} <b>{{assistant.get_full_name}}</b>.<br/>
    {% trans 'My new e-mail address is' %} <a href="mailto:{{assistant.email}}">{{assistant.email}}</a>
</p>

{% endblock %}