{% extends 'emails/main.html' %}{% load i18n %}{% load assist_tags %}{% load account_tags %}

{% block content %}

<p>
{{alias.greeting}},
</p>

{% if success %}
	<p>
		{% trans 'I have successfully imported your contacts.' %}
	</p>
	
{% else %}
	<p>
		{% trans 'A failure occurred preventing us from importing your contacts.' %}
	</p>

{% endif %}

{% endblock content %}


