<table id='import_file_table'>
	<tr>
		<td>
			Jones
		</td>
		<td>
			Bob
		</td>
		<td>
			bob.jones@blah.com
		</td>
		<td>
			Blah, Inc.
		</td>
		<td>
			1900-390-3022
		</td>
		<td>
			asdfasfdsad
		</td>
		<td>
			xasdftrr
		</td>
		<td>
			zzs43434
		</td>
		<td>
			1asdfadsf
		</td>
		<td>
			19asdffdasf
		</td>
	</tr>
	<tr id='import_file_sample1'>
	
	</tr>
	<tr id='import_file_sample2'>
	
	</tr>
	<tr id='import_file_select_boxes'>
	
	</tr>
	<tr>
		<td>
			Jones
		</td>
		<td>
			Bob
		</td>
		<td>
			bob.jones@blah.com
		</td>
		<td>
			Blah, Inc.
		</td>
		<td>
			1900-390-3022
		</td>
		<td>
			asdfasfdsad
		</td>
		<td>
			xasdftrr
		</td>
		<td>
			zzs43434
		</td>
		<td>
			1asdfadsf
		</td>
		<td>
			19asdffdasf
		</td>
	</tr>
	
	<tr>
		<td>
			<select><option>[ignore field]</option><option>First name</option></select>
		</td>
		<td>
			<select><option>[ignore field]</option><option>First name</option></select>
		</td>
		<td>
			<select><option>[ignore field]</option><option>First name</option></select>
		</td>
		<td>
			<select><option>[ignore field]</option><option>First name</option></select>
		</td>
		<td>
			<select><option>[ignore field]</option><option>First name</option></select>
		</td>
		<td>
			<select><option>[ignore field]</option><option>First name</option></select>
		</td>
		<td>
			<select><option>[ignore field]</option><option>First name</option></select>
		</td>
		<td>
			<select><option>[ignore field]</option><option>First name</option></select>
		</td>
		<td>
			<select><option>[ignore field]</option><option>First name</option></select>
		</td>
		<td>
			<select><option>[ignore field]</option><option>First name</option></select>
		</td>
	</tr>
	
</table>