{% extends 'modals/wizard.html' %}
{% load i18n %}

{% block wizard_id %}emailrule_data_extraction{% endblock %}

{% block wizard_js %}
<script language="javascript">
	
	var EmailRuleDataExtraction = this.EmailRuleDataExtraction = {

		checked_ids: [{% for r in regexes %}{{r.id}}{% if not forloop.last %},{% endif %}{% endfor %}],
		
		show: function() {
			// Set the checkboxes to the values from checked_ids
			$('.regex_checkbox').each(function(i) {
				$(this).removeAttr('checked');
				var id = parseInt($(this).attr('id').replace('regex_checkbox_', ''));
				for (i = 0; i < EmailRuleDataExtraction.checked_ids.length; i++) {
					if (EmailRuleDataExtraction.checked_ids[i] == id) {
						$(this).attr('checked', 'checked');
					}
				}
			});
			$(".wizard_emailrule_data_extraction").show();			
		},
	
	    hide: function() {
	        $('.wizard').hide();
	    },
  	
	    save: function() {
		    // Store the new list of checked ids
		    EmailRuleDataExtraction.checked_ids = [];
			$('.regex_checkbox:checked').each(function(i) {
				var id = parseInt($(this).attr('id').replace('regex_checkbox_', ''));
				EmailRuleDataExtraction.checked_ids.push(id);
			});		    
			
			Page.save_regexes();
	    }
	    
	}
    
	$(document).ready(function() {
		
	});
	
</script>
{% endblock %}


{% block bottom_more %}
	{% if account_regexes %}
		<div style='float:right; margin: 7px; border: 2px solid #ccc; font-size: 1.2em; font-weight: bold;' class='post_button'>
			<a href='#' onclick='EmailRuleDataExtraction.save(); return false;'>{% trans 'Save' %}</a>
		</div>
	{% endif %}
{% endblock %}

{% block content %}

		<div style='background: url(/static/images/yellow_bg.gif) #FCF8BC; border-bottom: 1px solid #CCC;'>
			
			<div style='padding: 5px; position: relative; left: 5px; '>
				<h2>{% trans 'Data extraction' %}</h2>
			</div>
			
		</div>

		<div id='import_file_table_container' style='margin: 10px; width: 98%; overflow: auto; background: #fff;'>
		
			{% if account_regexes %}
				{% trans 'Select the custom data extractors that should apply to this rule:' %}
				
				<div style='padding-top: 5px;'>
					<table class='tablesorter' id="rules" border="0" cellpadding="0" cellspacing="1"> 
						<thead> 
							<tr> 
								<th>ID</th> 
								<th>{% trans 'Description' %}</th> 
								<th>{% trans 'Regular expression' %}</th> 
								<th>{% trans 'Enabled' %}</th>
							</tr> 
						</thead> 
						<tbody>
							{% for regex in account_regexes %}	
								<tr id='regex_{{regex.id}}'> 
									<td>{{regex.id}}</td>
									<td>{{regex.description}}</td>
									<td>{{regex.regex}}</td>
									<td>
										<input class='regex_checkbox' id='regex_checkbox_{{regex.id}}' type='checkbox' />
									</td> 
								</tr>
							{% endfor %}
						</tbody> 
					</table> 
				</div>
			{% else %}
				
				<div class='status_msg'>
					{% trans '<b>You do not have any custom data extractors defined.</b> Please contact' %}
					<a href='mailto:founders@{{site.domain}}'>founders@{{site.domain}}</a>
					{% trans 'about custom solutions.' %}
				</div>
				<div style='margin-top: 10px'>
					<h2>{% trans 'Contact us to automatically create & populate Salesforce objects from emails.' %}</h2>
					<div style='float:left; width: 192px;'>
						<img src='/static/images/info/sf/images/custom_extractors.png'/>
					</div>
					<div style='float: left; width: 250px;'>
						<br/>
						<h3>{% trans 'Features:' %}</h3>
						<ul>
							<li>{% trans 'Extract custom data from emails in your inbox.' %}</li>
							<li>{% trans 'Match data to fields on Salesforce.' %}</li>
							<li>{% trans 'Automatically create leads or contacts with extracted data.' %}</li>
						</ul>
					</div>
					<div style='float: left; width: 200px;'>
						<br/>
						<h3>{% trans 'Contact sales:' %}</h3>
						<br/>
						<form method='POST' action='https://calenvy.com/tracker/DETSY/1102/'>

						<input type="hidden" name="to_c" value="AGVh156MTycb6a_jmmUVTb7rbLr7xXMywqXiXURKYRYRo9zVPWyBny39lm41IiFboiYLfpSb2idWGpNwTLuV5yQ7y1xpWL4NokV9SVsOpGSwz8Un-XUDkoSYpYHwV5l0a3Z-knxcqQXY"/>
						
						<input type="hidden" name="followup_campaign" value="1596"/>
						<input type="hidden" name="notify" value="1102"/>
						<input type="hidden" value='{{alias.email}}' name="email"/>
						{% trans 'First name' %}
						<br/><input value='{{alias.first_name}}' type="text" name="first_name"/><br/><br/>
						
						{% trans 'Company' %}
						<br/><input type="text" name="company"/><br/><br/>
						
						{% trans 'Note' %}
						<br/><textarea name="note">{% trans 'I am interested in email data extraction for Salesforce.' %}</textarea><br/><br/>
						
						
						<input type="submit" name="submit_button" value="{% trans 'Contact Sales' %}"/>
						
						</form>
						
					</div>
					<div style='clear:both;'></div>
				</div>
				
			{% endif %}		
			
			
		</div>
		
{% endblock content %}
