{% extends 'modals/wizard.html' %}
{% load i18n %}

{% block wizard_id %}help{% endblock %}

{% block bottom_more %}

<div style='float:right; margin: 7px; font-size: 1.2em; font-weight: bold;' class='post_button'>
	<a class='btn btn-primary' href='#' onclick='$(".help_switcher").toggle(); return false;'>{% trans 'Read documentation' %}</a>
</div>

{% endblock %}

    
{% block content %}

<div align='center' class='help_switcher' style='text-align:center; padding: 10px;'>
	<img src='/static/calenvy/help.png' />
</div>

<div style='padding: 15px; display:none;' class='help_switcher'>
	
</div>

{% endblock %}