{% load i18n %}
{% block wizard_js %}

{% endblock %}

<div class='wizard giant_bg_dark' style='display:none; z-index: 1000000; opacity: .6; background: #000; position: fixed; left: 0px; top: 0px; width: 100%; height: 100%;'></div>
<div class='rounded_lower wizard giant_config_modal wizard_{% block wizard_id %}default{% endblock %}' style='border:2px solid #ccc; display: none; position: absolute; min-width: 655px; min-height: 300px; width: auto; z-index: 1000001; background: #fff; top: -1px; left: 10%; right: 10%; height: 95%;'>
	
	<div class='block_content' style='min-width: 400px; '>
		
		<div class='wizard_error' style='color: red; font-size: 1.2em;'>
		</div>
		
		{% block content %}
			
		{% endblock %}
		
		
		
	</div>
	<div style='clear:both;'></div>
	
</div>