{% load i18n %}
{% block wizard_js %}

{% endblock %}

<div class='rounded_right wizard giant_config_modal wizard_{% block wizard_id %}default{% endblock %}' style='border:2px solid #ccc; display: none; width: 70%; position: absolute; height: auto; z-index: 1000008; background: #fff; top: 0; left: 15%; '>
	
	<div class='block_content' style=''>
		
		<div class='wizard_error' style='color: red; font-size: 1.2em;'>
		</div>
		
		{% block content %}
			
		{% endblock %}
		
	</div>
	<div style='clear:both;'></div>
	
</div>