{% extends 'emails/main_signup.html' %}{% load i18n %}

{% block company_reminders %}
        {% comment %}
        <div style='padding: 10px; margin-top: 10px; border: 1px solid #ccc;'>
            	<div style='margin-bottom: 10px;'>
            		{% trans 'Use email (or the web) to automatically schedule events, to-dos, or meetings for <strong>anyone on your team</strong> at' %} <strong>{{alias.account}}</strong>.
            	</div>
            	<div>
            		{% trans 'More information here: ' %} <a href='http://{{site.domain}}/info/project/'>http://{{site.domain}}/info/project/</a>
            	</div>
        </div>
        <div>
           	<div style='padding-top: 10px;'>
           		<img src='http://{{site.domain}}/static/images/info/images/bug_report.gif'/><br/>
           		<img src='http://{{site.domain}}/static/images/info/images/email_tag.gif'/>
           	</div>
        </div>
		
		{% endcomment %}
		
        {% comment %}
        <div>
        	<h3>{% trans 'Interacting with your team' %}</h3>
        		<div style='padding: 10px; border: 1px solid #ccc;'>
        		{% blocktrans %}
        			Every member of your team gets their own alias. 
        		{% endblocktrans %}
        		</div>
        		<div style='margin-top: 10px'>
        			<img src='http://{{site.domain}}/static/images/info/images/micro_twitter.gif'/>
               		
               		
               		<div style='margin-top: 10px; border: 1px solid #ccc; padding: 10px;'>
               			<strong>{% trans 'Some examples:' %}</strong>
               			"{% trans '@jorge, please fix @bugs for signup form by @ tonight.' %}"
               			<Br/><Br/>
               			"{% trans 'Getting supplies for trade show. @bob & @james, can you meet me at 6pm?' %}"
               		</div>
               		
        		</div>
        </div>
        {% endcomment %}
        
        
        

{% endblock %}

{% block company_team %}

    {% comment %}
    <h3>{% trans 'Team status updates' %}</h3>
    <ul>
        <li>
            {% trans 'Send me an email with @status in the subject or body.'%} {% trans 'Examples:' %}
            <ul>
                <li>
                "{% trans 'Finalizing website prototype @status with @bob' %}"
                </li>
                <li>
                "{% trans 'Going to lunch right now with @james, @status' %}"
                </li>
            </ul>
        </li>
        <li>
            {% trans 'I can tell you what your team is up to 24/7.  Just shoot me an email and ask me to: "send digest." All status updates from your team are automatically included in the status section of the digest.' %}
            
            <ul>
                <li>
                    {% trans 'To send immediate notifications to everyone on your team, just email ' %} all@{{assistant_domain}}
                </li>
               
            </ul>
            
        </li>
    </ul>
    {% endcomment %}
    
{% endblock company_team %}

