{% extends 'emails/main_assist.html' %}{% load i18n %}{% load assist_tags %}
{% block content %}
    <p style='margin-bottom:10px;'>
    	{{alias.greeting}}, 
    	
    	{% ifequal status constants.EVENT_STATUS_TENTATIVE %}
        	{% trans "tentative event scheduled!" %} <!--<b>{{date_span}}</b>-->
    	{% endifequal %}
    	{% ifequal status constants.EVENT_STATUS_SCHEDULED %}
        	{% trans "don't forget, you have an event scheduled." %} <b>{{date_span}}</b>
    	{% endifequal %}
    	{% ifequal status constants.EVENT_STATUS_CANCELED %}
        	{% trans 'this event has been canceled.' %} <!--{{date_span}}-->
    	{% endifequal %} 
    	
        {% if attendees %}   
 	    	({% for c in attendees %}<a href="{{c.link}}">{{c|tagname:alias}}</a>{% if forloop.last %}{% else %}, {% endif %}{% endfor %})
    	{% endif %}
    	
		{% if phone %}
		    <br/>{% trans 'Phone' %}: {{phone}}
		{% endif %}
		
        {% comment %}
        {{event.title_long|safe|linebreaksbr}}
        {% endcomment %}
    </p>
{% endblock content %}

{% block post_content %}
    {% if conflicts %}
    <p style='margin-bottom:10px;'>
        {% trans "Don't forget, you have the following scheduled at around the same time on" %} {{day_of_week}} ({{date}})
        <ul>
        {% for c in conflicts %}
            <li>
                {{c.date_span}}: {{c.event.title_long|safe|linebreaksbr}}
                {% if c.attendees %}   
 	                ({% for a in c.attendees %}<a href="{{a.link}}">{{a|tagname:alias}}</a>{% if forloop.last %}{% else %}, {% endif %}{% endfor %})
    			{% endif %}
            </li>
        {% endfor %}
        </ul>
    <p style='margin-bottom:10px;'>
    {% endif %}
{% endblock post_content %}

