{% extends 'emails/main_signup.html' %}{% load i18n %}
{% block content %}
    <p style='margin-bottom:10px;'>
        {{alias.get_full_name_or_email}}, {% trans 'please wait for our system administrator to approve your access to' %} <strong>{{admin.account.base_url}}</strong>. {% trans 'Let me know if you have any questions.' %}
    </p>
    

    
{% endblock %}