{% extends 'emails/main.html' %}{% load i18n %}

{% block content %}

{% block greeting %}

	<p style='margin-bottom:10px;'>
		{{alias.greeting}},
	</p>
	
	<p style='margin-bottom:10px;'>
		{% if alias.account.name %}
			{% trans 'Welcome to the' %} {{alias.account.name}} {% trans 'network' %}.
		{% else %}
			{% trans 'So nice to meet you!' %}
		{% endif %}
		
		{% trans 'I am your <i>automated</i> assistant'%} {{assistant.first_name}}.  {% trans 'You can Forward, Cc, or Bcc emails to me.' %}
		
	</p>
	
	{% comment %}
		<p style='margin-bottom:10px;'>
			<b>{% trans 'Reply to this email and say hello!' %}</b>
			
			<br/><br/>
			
			{% trans 'Remember my email address: ' %} <a href='mailto:{{assistant_email}}'>{{assistant_email}}</a>.
			
			{% trans 'I schedule your meetings automatically and send one <i>or two</i> reminders.  I can understand dates & times, but remember to <b>Cc</b> or <b>Bcc</b> me.' %}
			
		</p>
	{% endcomment %}
{% endblock %}

<div>
	<div style='border: 1px solid #ccc; padding: 10px; margin-bottom:15px; background: #FCF8BC;'>
		<h2 style='margin:0px;'>{% trans "Activate your account now!" %}</h2>
		<div style='padding-top: 10px;'>
			<strong><a href='http{%if has_ssl%}s{%endif%}://{{site.domain}}/dash/?alias={{alias.slug}}'>{% trans 'Click here' %}</a> {% trans 'to activate your account.' %}</strong>
			{% if alias.is_admin %}
				{% trans "As an admin, you can <i>rename</i> your automated assistant," %} {{assistant.first_name}}.
			{% endif %}
			<br/><br/>
			<a href='http{%if has_ssl%}s{%endif%}://{{site.domain}}/dash/?alias={{alias.slug}}'>http{%if has_ssl%}s{%endif%}://{{site.domain}}/dash/?alias={{alias.slug}}</a>
		</div>
	</div>
	
	{% if alias.account.service.allow_firefox %}
		<h2>{% trans "Download our Gmail plug-in for Firefox / Chrome" %}</h2>
		<a href='http{%if has_ssl%}s{%endif%}://{{site.domain}}/install/'>{% trans 'Click here' %}</a> {% trans 'to install our extension for Firefox or Google Chrome. ' %}
	{% endif %}
	
    {% comment %}
	{% if alias.account.service.allow_sf %}
		<h2>{% trans "Your account syncs to Salesforce!" %}</h2>
		{% trans "Download the" %} <a href='http{%if has_ssl%}s{%endif%}://{{site.domain}}/info/salesforce/docs/'>{% trans "Salesforce customization and automation guide" %}</a> 
		{% trans "and" %} <a href='http://sites.force.com/appexchange/listingDetail?listingId=a0N30000001e8euEAA'>{% trans "click here" %}</a> {% trans "to install the Salesforce plugin" %}.
	{% endif %}
	{% endcomment %}
    	
	<h2>{% trans "Additional information" %}</h2>

	<p style='margin-bottom:10px;'>
		{% trans "By including me (Cc or Bcc) in relevant sales conversations, I'll remind colleagues to never miss a meeting and I'll manage your calendar." %} 
	</p>
		
	<h2>{% trans "Here's how to schedule meetings automatically using email:" %}</h2>
	
	<div style='border: 1px solid #ccc; padding: 10px;'>
		
			<div style=''>
				<b>1</b>. {% trans 'Reference a date and time in this format <b>in an email to anyone</b>: <span style="background:#FCF8BC;">meeting monday @ 2?</span>, <span style="background:#FCF8BC;">meeting next friday @ noon?</span>, or simply <span style="background:#FCF8BC;">register domain @ tonight</span>.' %}
			</div>
			<div style='margin-top: 10px; margin-bottom: 5px;'>
				<b>2</b>. {% trans 'I push events to your calendar and coordinate meetings with recipients.' %}
			</div>
			<div>
				<h3>{% trans 'Tips for referencing dates & times using the <span style="background:#FCF8BC;">@ symbol</span>' %}</h3>
			</div>
			<div>	
				{% trans 'Use the handy <span style="background:#FCF8BC;">@ symbol</span> next to the main date & time reference in any email forwarded or mailed to Cc:' %}
				<div style='margin: 10px 0px 5px 0px; border: 1px dotted #ccc; background: #eee; padding: 5px;'>
					{% trans '"Meeting tomorrow <span style="background:#FCF8BC;"><b>@</b> noon</span>"' %}
				</div>
				<div style='margin: 5px 0px 5px 0px; border: 1px dotted #ccc; background: #eee; padding: 5px;'>
					{% trans '"Hey Bob, great talking today, follow-up <span style="background:#FCF8BC;">next friday <b>@</b> 2pm</span>?"' %}
				</div>
				<div style='margin: 5px 0px 10px 0px; border: 1px dotted #ccc; background: #eee; padding: 5px;'>
					{% trans '"Workout <span style="background:#FCF8BC;"><b>@</b> 9pm</span>"' %}
				</div>
				<div>
				{% blocktrans %}
				<b>If an email has multiple dates/times</b>, stick an <span style="background:#FCF8BC;"><b>@</b> symbol</span> next to the <b>one</b> date/time
				you want pushed to your calendar.
				{% endblocktrans %}
				</div>
				<div style='margin-top: 10px;'>
				<a href='http://{{site.domain}}/info/syntax/'>{% trans 'See other examples online... ' %}</a>
				</div>
			</div>
			
			
			<div>
				<h3>{% trans 'How do I populate my calendar?' %}</h3>
			</div>
			<div>	
				{% trans '<b>This iCal feed</b> pushes events to Microsoft Outlook, Google Calendar, iCal, and other calendaring clients.  Cut & paste or download the feed:' %}
				<br/>
				<a href="http://{{site.domain}}/dash/{{alias.account.base_url}}/ical/alias/{{alias.slug_ics}}">
					http://{{site.domain}}/dash/{{alias.account.base_url}}/ical/alias/{{alias.slug_ics}}</a> (iPhones <a href='webcal://{{site.domain}}/dash/{{alias.account.base_url}}/ical/alias/{{alias.slug_ics}}'>click here</a>)
				<br/><br/><img src='http://{{site.domain}}/static/images/info/guide/signup_calendars.gif'/><br/><br/>
				{{site.name}} {% trans 'works great <b>without the iCal feed</b>.  Event emails get tentatively added to your calendar through your <b>existing email client</b> without any special setup or installation.' %}
			</div>
			
		
	</div>
	
	<div style='margin-top: 10px;'> 
		<div style='float: left;'>
			<img src='http://{{site.domain}}/static/images/cover/images/iphone_example_left.gif'/>
		</div>
	</div>
	
	<div style='clear: both;'>
	</div>
		
	{% comment %}
		<div style='margin-top: 10px;'>
			<div style='float: left;'>
				<img src='http://{{site.domain}}/static/images/cover/images/email_example_left.gif'/>
			</div>
			<div style='float:left;'>
				<img src='http://{{site.domain}}/static/images/cover/images/email_example_right_text.gif'/>
			</div>
		</div>
		
		<div style='clear: both;'>
		
		</div>
	{% endcomment %}

  {% block company_reminders %}
  
  {% endblock %}

</div>

{% block team_listing %}
    {% if team_aliases %}
    	{% ifnotequal alias.account.base_url 'demo' %}
    	<h3>{% trans 'People signed up' %}</h3>
        <div style='margin-top: 10px;'>
	        <ul>
	        {% for o in team_aliases %}
	            
	            <li>
	            	<span {% ifequal o.email alias.email %}style='background:#FCF8BC;' {% endifequal %}>
		                {%ifequal o.email alias.email %}
		                	{% if o.is_admin %}You (admin): {% else %}You: {% endif %}
		                {% else %}
		                	{% if o.is_admin %}
		                		Admin: 
		                	{% endif %}
		                {% endifequal %}
						<b>{{o.tag}}</b> {{o.get_full_name}} (<a href="mailto:{{o.email}}">{{o.email}}</a>)
					</span>
	            </li>
	           
	        {% endfor %}

	        </ul>
	        
	        {% if alias.is_admin %}
	        <div style='padding: 5px; background: #eee; border: 1px dotted #ccc;'>
    			{% trans 'Because <strong>you are an account admin</strong>, you can invite others to your team: Send an email (or reply to this email) to '%} {{assistant_email}}, try "invite bob@gmail.com, dave.johnson@email.com"
	        </div>
	        {% endif %}
        </div>
        {% endifnotequal %}
    {% endif %}
{% endblock team_listing %}


{% block company_team %}
    
{% endblock company_team %}
<p style='margin-bottom:10px;'> <strong>{% trans 'Additional information' %}</strong></p>
<div style='margin-bottom:10px;'>
<ul>
  <li>
  	{% trans 'Time Zone (click to change):' %} <a href='http://{{site.domain}}/dash/?alias={{alias.slug}}'>{{alias.account_user.get_timezone}}</a>
  </li>
  <li>
    {% trans 'Set a password:'%} <a href="http://{{site.domain}}/dash/?alias={{alias.slug}}">http://{{site.domain}}/dash/?alias={{alias.slug}}</a>
  </li>

</ul>
</div>
{% endblock content %} 