{% extends 'emails/main.html' %}{% load i18n %}

{% block content %}
<p style='margin-bottom:10px;'>{% trans 'Hello' %},</p>

<p style='margin-bottom:10px;'>{% trans 'We were not able to register your account because:' %}</p>

<p style='margin-bottom:10px;'> {% trans 'Your email address may already be registered or you are currently pending activation by the administrators of a network.' %} 
</p>
{% endblock content %}
