{% extends 'emails/main.html' %}{% load i18n %}{% load assist_tags %}{% load account_tags %}

{% block content %}

	<p style='margin-bottom:10px;'>
		{{alias.greeting}},
	</p>
	
	<p style='margin-bottom:10px;'>
		{% trans "Your trial at" %} 
			<a href="http://{{account.base_url}}.{{site.domain}}">http://{{account.base_url}}.{{site.domain}}</a> 
		{% trans "expires tomorrow!" %}
    </p>
    
    <h3>{% trans "To keep your account:" %}</h3>
    
    <a href="http{% if has_ssl %}s{% endif %}://{{site.domain}}/dash/?alias={{alias.slug}}&to=/info/go/{{account.service.name|lower}}/">{% trans "Activate your account" %}</a> {% trans "to keep your data and continue service." %}
    
	<h3>{% trans "Need additional time?" %}</h3>
	
	{% trans "Please email" %} <a href='mailto:founders@{{site.domain}}'>founders@{{site.domain}}</a> {% trans "with your request" %}.
	
	{% if blog_posts %}
		<h3>{% trans "New features" %}</h3>
		<p style='margin-bottom:10px;'>
			{% trans "The guys have added a ton of new and exciting features to" %} {{site.name}} - {% trans "I'm including a few entries from our blog since you last signed in on" %} {{ last_login_date }}.
	    </p>
    
	   	{% for post in blog_posts %}
	       	<div style='margin-bottom:15px; padding-top: 5px; border-top: 1px solid #eee;'>
	       		<h3><a href='http://{{site.domain}}{{post.get_absolute_url}}'>{% render post.title %}</a></h3>
	       		<div style='color: #ccc;'>{{post.publish|date:"F d, Y"}}</p></div>
	       		<div>
	       			{% render post.body replace_relative_links %}
	       		</div>
	       	</div>
	   	{% endfor %}
	   	<div style='margin-bottom:15px; padding-top: 5px; border-top: 1px solid #eee;'></div>
	{% endif %}
   	
   	
	<p style='margin-bottom:10px;'>
		{% trans "Thanks for trying" %} {{site.name}}!
	</p>
	
{% endblock content %}

{% block footer %}
	
	<p style='margin-bottom:10px;'>
		-- {{assistant.first_name}} 
	</p>
{% endblock %}

{% block powered_by %}
{% endblock %}




