{% load i18n %}
{% for e in old_emails %}
    {% if e.from %}
        <b>{% trans 'From:' %}</b> {{e.from}}<br/>
    {% endif %}
    {% if e.date %}
        <b>{% trans 'Date:' %}</b> {{e.date}}<br/>
    {% endif %}
    {% if e.subject %}
        <b>{% trans 'Subject:' %}</b> {{e.subject}}<br/>
    {% endif %}
    {% if e.to %}
        <b>{% trans 'To:' %}</b> {{e.to}}<br/>
    {% endif %}
    {% if e.cc %}
        <b>{% trans 'Cc:' %}</b> {{e.cc}}<br/>
    {% endif %}
    
    {% if e.content %}
        <div style='background: #FCF8BC; color: #000; font-size: 1.1em;'>
        	{{e.content|safe|linebreaks}}
        </div>
    {% else %}
        <i>(no email body)</i>
    {% endif %}
{% endfor %}
