{% extends 'emails/main.html' %}{% load i18n %}

{% block content %}


{% if tags %}
    <p style='margin-bottom:10px;'>
    {% trans 'Here are the tags you asked me to look up:' %}
    </p>

    <ul>
    {% for t in tags %}
        <li>
        <b>{{t.text}}</b>
        {% if t.events %}
            <ul>
            {% for e in t.events %}
                <li>{{e.alias_creator.get_full_name_or_email}} {{e.date}} {{e.time}}: {{e.reminder}} 
                    {% if e.files %}
                        <ul>
                            {% for f in e.files %}
                                <li>
                                    {{f.datetime}}<a href="http://{{site}}/dash/?alias={{alias.slug}}&amp;to=/dash/{{account.base_url}}/retrieve_file%3ftoken={{f.token_slug}}">{{f.file.name}}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <i>{% trans 'nothing found' %}</i>
        {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endif %}

{% if words %}
    <p style='margin-bottom:10px;'>
    {% trans 'Here are the other words you asked me to look up:' %}
    </p>
    
    <ul>
    {% for w in words %}
        <li>
        <b>{{w.text}}</b>
        {% if w.emails %}
            {% for e in w.emails %}
                <p style='margin-bottom:10px;'>
                <BLOCKQUOTE id="{{e.message_id}}" class="noted_quote" style="PADDING-LEFT: 1ex; MARGIN: 0px 0px 0px 0.8ex; BORDER-LEFT: #ccc 1px solid">
                    <b>{% trans 'From:' %}</b> {{e.from_contact.get_display_name}}<br/>
                    <b>{% trans 'Subject:' %}</b> {{e.subject}}<br/>
                    ... {{e.search_result|safe}} ...
                </BLOCKQUOTE>
                </p>
            {% endfor %}
        {% else %}
            <i>{% trans 'nothing found' %}</i>
        {% endif %}        
        </li>
    {% endfor %}
    </ul>
{% endif %}

{% endblock %}