{% extends 'emails/main.html' %}{% load i18n %}{% load assist_tags %}{% load account_tags %}

{% block content %}

<p style='margin-bottom:10px;'>
{{alias.greeting}},
</p>

<p style='margin-bottom:10px;'>
	{% trans "Sorry, " %} {{site.name}} {% trans 'can no longer access your IMAP inbox.  You may have changed your IMAP password.' %}
</p>

<p style='margin-bottom:10px; '>
	<strong>IMAP - Gmail (secure)</strong> <br/>
	{% trans '* Current hostname: ' %} Host <br/>
	{% trans '* Current username: ' %} Username <br/>
</p>

<p style='margin-bottom:10px;'>
	<a href='/dash/{{alias.account.base_url}}/?modal_wizard=server'>{% trans 'Click here' %}</a> {% trans 'to update your IMAP credentials.' %}
</p>

{% endblock content %}
{% block footer %}
<p style='margin-bottom:10px;'>
    &mdash; {{alias.account.get_assistant.first_name}} ({{alias.account.get_assistant.email}})
</p>

{% endblock %}

{% block postscript %}
{% endblock %}