{% extends 'emails/main_signup.html' %}{% load i18n %}

{% block company_reminders %}
        <li>
            {% trans 'I can automatically schedule events for anyone on your team at'%} <strong>{{account}}</strong>. {% trans 'Examples:' %}
            <ul>
                    <li>
                    "{% trans 'Meeting with @bob tomorrow at 10am.' %}"
                    </li>
                    <li>
                    "{% trans 'Getting supplies for trade show. @bob & @james, can you meet me at 6pm?' %}"
                    </li>
            </ul>
        </li>
{% endblock %}

{% block company_team %}

    <strong>{% trans 'Team status updates' %}</strong>
    <ul>
        <li>
            {% trans 'Send me an email with @status in the subject or body.'%} {% trans 'Examples:' %}
            <ul>
                <li>
                "{% trans 'Finalizing website prototype @status with @bob' %}"
                </li>
                <li>
                "{% trans 'Going to lunch right now with @james, @status' %}"
                </li>
            </ul>
        </li>
        <li>
            {% trans 'I can tell you what your team is up to 24/7.  Just shoot me an email and ask me to: "send digest." All status updates from your team are automatically included in the status section of the digest.' %}
            
            <ul>
                <li>
                    {% trans 'To send immediate notifications to everyone on your team, just email ' %} all@{{assistant_domain}}
                </li>
               
            </ul>
            
        </li>
    </ul>
    
{% endblock company_team %}

{% block greeting %}
    <p style='margin-bottom:10px;'>{{alias.greeting}},</p>
    
    <p style='margin-bottom:10px;'>
        {% trans 'I just added you to the' %} <Strong>{{admin_alias.account.base_url}}</Strong> {% trans 'network!  You can now send emails to me to take care of scheduling, reminders, and quick notes.' %}
    </p>
    
    
    <p style='display:none;'>
        {% if account.name %}
            {% trans 'Welcome to the' %} {{account.name}} {% trans 'network' %}.
        {% else %}
            {% trans 'Welcome!' %}
        {% endif %}
        {% trans 'I am your assistant' %} {{assistant.first_name}}.
    </p>
{% endblock %}

