{% extends 'emails/main.html' %}{% load i18n %}{% load assist_tags %}

{% comment %}This template is used by the assistant inside the network.{% endcomment %}

{% block content %}
<p style='margin-bottom:10px;'>
	<h2>{% trans "Official reminder" %}</h2>

    {% ifequal status constants.EVENT_STATUS_TENTATIVE %}
       	{% trans "Tentative scheduled event! " %}
   	{% else %}
       	{% trans "Don't forget you have a scheduled event! " %}
   	{% endifequal %}
		<!--{{date_span}}.--><br/>

    {% if attendees %}
    	<h3>{% trans "Attendees" %}</h3>
	    <ul>
	    	{% for c in attendees %}
	    		<li>
	    			<a href="{{c.link}}">{{c|tagname:alias}}</a>
	    			{% ifequal c.alias alias %}
	    				&nbsp; 
	    				<span style='background:#FCF8BC;'>
	    					{% trans 'you' %}
	    				</span>
	    			{% endifequal %}
	    		</li> 
	    	{% endfor %}
	    </ul>
   	{% endif %}
    
	{% if phone %}
	    <br/>{% trans 'Phone' %}: {{phone}}
	{% endif %}
</p>

<p style='margin-bottom:10px;'>
    {% if old_emails %}
        {% ifequal old_emails_length 1 %}
            {% trans 'The following is the original email: ' %} 
        {% else %}
            {% trans 'The following are the original emails: ' %} 
        {% endifequal %}
        
    	{% for e in old_emails %}
        	{% quote_email %}
        	<p style='margin-bottom:10px;'></p>
    	{% endfor %}

    {% endif %}
</p>
{% endblock content %}

{% block postscript %}

{% endblock %}




