{% extends 'mainv1_dash.html' %}

{% block extra_javascript %}
	{% comment %} For Firefox, the browser won't load script tags directly or call the $(document).ready -- gmail.js does that for us
	This is just for debugging (typing &agent=firefox into the browser directly)
	{% endcomment %}
	<script language='javascript' src='/dash/main_account.js?agent={{agent}}'></script>
	<script language='javascript'>
		$(document).ready(function() {
			Page.ready();		// load the widgets
		});
	</script>
{% endblock extra_javascript %}

{% load i18n %}
{% load assist_tags %}
{% load account_tags %}

{% block dash_title %}

{% endblock %}

{% block headers %}
{% endblock %}

{% block style %}

<style>
	.box_content {
		border: 1px solid #eee;
	}
	#parse, .message_content, .me_event {
		font-size: .9em;
	}
	.box h3 {
		margin: 0px;
	}
	.box_heading, .box_heading_dark {
		background: #666;
		color: #fff;
		margin-top: 10px;
		padding: 2px 0px 1px 5px;
	}
	.me_event {
		border-bottom: 1px solid #eee;
		padding: 4px;
	}
	.ellipsis {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		-o-text-overflow: ellipsis;
		-ms-text-overflow: ellipsis;
		-moz-binding: url('/static/xml/ellipsis.xml#ellipsis');
	}
	.message_completed {
		background-color: #e8e8e8;
		padding: 2px 2px 0px 2px;
		border: 1px solid #ddd;
		opacity: 0.6;
		filter:alpha(opacity=60); 
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=60)"; 
	}
	.message_incomplete {
			background: #fee;
			padding: 2px 2px 0px 2px;
			border: 1px solid #fcc;		
	}
	.status_msg {
		background: url(/static/images/yellow_bg.gif) #FCF8BC; 
		background-repeat:repeat-x; 
		padding: 5px;
		margin-top:;
		text-align: left;
	}
	.notify {
		margin: 0px;
		border: 1px solid #EFE995;
	}
	
	/* compact widgets */

	div.compact_top {
	background:url(/static/images/widgets/images/compact_top_bg.png) repeat-x bottom;
	display: none;
	}
	
	div.compact_heading {
	background:url(/static/images/widgets/images/compact_heading_bg.png) repeat-x;
	color:#fff;
	}
	
	div.compact_heading h3 {
	padding-top:5px;
	margin-left:5px;
	}
	
</style>

{% endblock %}

{% block extra_style %}
	<!-- additional stylesheets go here -->
{% endblock %}

{% block header %}

{% endblock %}

{% block extra_content %}
	
	{% comment %} 
	Hidden button -- gmail.js clicks this to tell us when all the HTML and Javascript is loaded and ready,
	so we can start loading the widgets
	{% endcomment %}
	
	<input id='ready_button' type='button' style='display: none;' value='ready' onclick='Page.ready(); return false;' />
	
	{% comment %}Hidden button to tell the extension to reload the sidebar (for the logout link){% endcomment %}
	<input type='button' style='display: none;' id='calenvy_reload_sidebar_button' value='1' />
	
{% endblock extra_content %}

{% block content %}

	{% block note_box %}
	
		<div style='margin-top: 10px; overflow: hidden;' id='note_box' class='bg-aqua'>
		
			 <div id='tooltip_container' style='display:none; margin-bottom: 0px;'>
				   	<div class='rounded_upper' style='color: #000; padding: 5px; font-size: .9em; background: #eee; border: 2px solid #ccc; overflow:hidden; white-space:nowrap;'>
				   		<div id='tooltip_msg'>
				   		</div>
				   	</div>
				   	
		 	 </div>
		
		     <textarea title="{% trans 'Enter a note to, reply to, or comment about a contact here.' %}" name="parse" class='quick_parse' id="parse" rows="2" style="padding: 2px; width: 97%; color: #666; height: 20px; margin-top: -2px;">{% trans 'Type something...' %}</textarea>
		     <input style='position:relative; display:;' type="button" name="parse_submit" id="parse_submit" value="{% trans 'Update!'%}" onClick="QuickBox.submit(); return false;"/>
		</div>
	
	{% endblock %}

	{% block crawl_display %}
	
	{% endblock %}

{% endblock %}

{% block widgets %}
	<div id='widgets' style='width:100%;'>
		<!-- Widgets will be inserted by jQuery here -->
	</div>
{% endblock %}

{% block widgets_right %}
	
{% endblock %}
