{% extends 'mainv1_dash.html' %}
{% load i18n %}
{% block style %}
<style>

	/* Global */	
	.highlight {
		background: #FCF8BC;
		border: 1px solid #EFE995;
		font-size: .7em;
		padding: 5px;
	}
	
	.highlight_light {
		background: #eee;
		border: 1px solid #ccc;
		font-size: .7em;
		padding: 5px;
	}
	
	.highlight_red {
		background: #FBF7F7;
		border: 1px solid #E6BCBC;
		font-size: .7em;
		padding: 5px;
		color: #A81111;
	}
	
	.robot_contain select, .robot_contain input {
		font-size: .7em;
	}
	
	.robot_contain form {
		margin: 0px;
	}

	.light_header {
		background: #fff;
	}
	
	.robot_contain {
		margin-right: 8px;
	}
	
	span.head {
		font-size: .9em;
	}
    
</style>
{% endblock %}

{% block javascript %}

{% endblock %}

{% block extra_javascript %}

{% endblock %}

{% block header %}
	{% comment %}Hidden button to tell the extension to reload the sidebar{% endcomment %}
	<input type='button' style='display: none;' id='calenvy_reload_sidebar_button' value='1' />
{% endblock %}

{% block content %}
	<div class='robot_contain' style='margin-top: 10px;'>

		<div class='highlight'>
			
			<b>{% trans 'Login to' %} {{settings.PRODUCT_NAME}}</b>
			
			<div>
				{% trans 'Click to login securely with Google. Calenvy does not log emails or require your Gmail password.' %}
				<a target='_blank' href='/info/privacy/'>{% trans 'Read more' %}</a>
			</div>
			
		</div>

		<input style='margin-top: 10px; margin-bottom: 10px;' type='button' id='login_calenvy_button' 
			value='{% trans "Login to" %} {{settings.PRODUCT_NAME}}' 
			onclick='$(this).attr("disabled", "disabled"); CalenvyOpenID.popup($("#login_email").val(), $(this)); return false;'/>
					
		{% comment %}
		<div class='highlight_red' id='popup_warn_cure' style='margin-bottom: 5px; display:none;'>
			{% trans 'Please disable your pop-up blocker.' %}
		</div>
		{% endcomment %}
		
		{% comment %}Hidden field -- browser extension places the user's Gmail or Google Apps email address here, screen-scraped from the page{% endcomment %}
		<input type='hidden' id='login_email' value='' />
		
	</div>
{% endblock content %}

