{% load i18n %}

<style>
	.rounded_lower {
		-moz-border-radius-bottomright: 10px; 
		-webkit-border-bottom-right-radius: 10px; 
		-moz-border-radius-bottomleft: 10px; 
		-webkit-border-bottom-left-radius: 10px; 	
	}
	.rounded_upper {
		-moz-border-radius-topright: 10px; 
		-webkit-border-top-right-radius: 10px; 
		-moz-border-radius-topleft: 10px; 
		-webkit-border-top-left-radius: 10px;	
	}
    #loading_bar {
		font-size:.9em;
		z-index:1000009;
		padding: 5px;
		top:0px; 
		left: 20%;
		width: 60%;
		background:#fff;
		border: 2px solid #ccc;
		border-top: 0px;
		display:none;
		
	}
	#cure_outer {
		width: 98%;
		height: auto;
		background:;
		clear: both;
		font-size: .9em;
	}
	div.footer {
		font-size: .7em;
	}
	div.footer a, div.footer a:link, div.footer a:active {
		color: #666;
	}
	div.box {
		font-size: .9em;
	}
	
</style>

{% spaceless %}

{% block style %}
	<!-- additional stylesheets go here -->
{% endblock style %}

{% block extra_style %}
	<!-- additional stylesheets go here -->
{% endblock %}

{% block javascript %}
	{% comment %} For Firefox, the browser won't load script tags directly -- gmail.js does that for us
	This is just for debugging (typing &agent=firefox into the browser directly)
	{% endcomment %}
	<script src="/static/js/lib/jquery-1.4.2.min.js" type="text/javascript"></script>
	<script src="/dash/main_javascript.js?agent={{agent}}" type="text/javascript"></script>
{% endblock javascript %}

{% block extra_javascript %}
	<!-- additional javascript goes here -->
{% endblock extra_javascript %}

{% include 'csrf_token.html' %}

{% block modals %}

{% endblock modals %}
<div id='cure_outer' style='position: relative;'>
		
		<div style='position: absolute;' id="loading_bar" class='loading_bar rounded_lower'>
			<img src='/static/images/ajax-loader-small.gif'/> {% trans 'Please wait...' %}
		</div>	
		
		{% block header %}
		
		{% endblock %}
		
		{% block content %}
		
		{% endblock %}
		
		{% block extra_content %}
		
		{% endblock %}
		
		{% block widgets %}
		
		{% endblock %}
		
		{% block widgets_right %}
		
		{% endblock %}
		
		{% block footer %}

			<div style='clear:both; height: 5px;'></div>
			<div class='footer' style='padding-top: 5px; border-top: 1px solid #ccc;'>
				{% block footer_extras %}
				
				{% endblock %}
				
				<span style='float:right;'>
					{% if alias.account_user %}
						{{alias.email}}
					{% else %}
						<a target='_blank' href='http://{{site.domain}}/'>{% trans 'Learn more' %}</a>
					{% endif %}
				</span>
				
				{% if alias.account_user %}
					<a href='#' onclick="Page.logout(); return false;">{% trans 'Logout' %}</a>
				{% else %}
					<a target='_blank' href='https://{{site.domain}}'>{% trans '<b>Magnify for Gmail</b>' %}</a>
				{% endif %}
				
			</div>
			<div style='clear:both; height: 5px;'></div>
		{% endblock %}

		{% block prompt %}
			{% comment %} Firefox/Chrome doesn't need a replacement for prompt, since it works natively in the browser {% endcomment %}
		{% endblock prompt %}

</div>
{% endspaceless %}