body {
font:12px 'Helvetica Neue', 'Helvetica', 'Arial';
padding-bottom:10px;
}

#o_head {
width:850px;
}

.notify {
border:1px solid #EFE995;
background:#fcf8bc url(/static/images/yellow_bg.gif) repeat-x scroll 0 0;
margin:0;
padding:10px;
}

.design_spacer {
height:2px;
background:#fff;
clear:both;
max-height:2px;
}

.rounded_lower {
-moz-border-radius-bottomright:10px;
-webkit-border-bottom-right-radius:10px;
-moz-border-radius-bottomleft:10px;
-webkit-border-bottom-left-radius:10px;
}

.rounded_upper {
-moz-border-radius-topright:10px;
-webkit-border-top-right-radius:10px;
-moz-border-radius-topleft:10px;
-webkit-border-top-left-radius:10px;
}

.rounded_top_left {
-moz-border-radius-topleft:10px;
-webkit-border-top-left-radius:10px;
}

.rounded_top_right {
-moz-border-radius-topright:10px;
-webkit-border-top-right-radius:10px;
}

.rounded_bottom_left {
-moz-border-radius-bottomleft:10px;
-webkit-border-bottom-left-radius:10px;
}

.rounded_bottom_right {
-moz-border-radius-bottomright:10px;
-webkit-border-bottom-right-radius:10px;
}

.rounded_left {
-moz-border-radius-topleft:10px;
-webkit-border-top-left-radius:10px;
-moz-border-radius-bottomleft:10px;
-webkit-border-bottom-left-radius:10px;
}

.rounded_right {
-moz-border-radius-topright:10px;
-webkit-border-top-right-radius:10px;
-moz-border-radius-bottomright:10px;
-webkit-border-bottom-right-radius:10px;
}

.post_button a,.post_button a:link {
color:#000;
text-decoration:none;
}

.post_button {
margin-right:10px;
background:url(/static/images/yellow_bg.gif) #FCF8BC;
background-repeat:repeat-x;
-moz-border-radius:10px;
-webkit-border-radius:10px;
color:#000;
border:1px solid #FFF;
border-bottom:1px solid #2B2825;
padding:5px;
}

#header_nav span {
top:15px;
position:relative;
margin:10px 0 10px 10px;
}

#header_nav span a {
color:#D6156C;
border-bottom:1px solid #0B8C8F;
text-decoration:none;
}

#header_nav span a:hover {
border-bottom:2px solid #0B8C8F;
text-decoration:none;
}

.block_header a,.block_header a:link,.block_header a:hover,.block_header a:active {
color:#666;
}

.block {
padding:10px;
}

a,a:active,a:link {
color:#1C4595;
}

a:hover {
color:#999;
}

.expanded_footer a,.expanded_footer a:link {
color:#666;
font-size:.9em;
text-decoration:none;
}

.expanded_footer a:hover {
text-decoration:underline;
}

.expanded_footer span.mp a,.expanded_footer span.mp a:link,.expanded_footer span.mp a:active {
color:#000;
margin-bottom:5px;
}

.expanded_footer_group {
text-align:left;
margin:0 20px 0 10px;
}

.expanded_footer .searches div.l {
float:left;
width:32%;
margin-bottom:10px;
font-size:.9em;
margin-right:3px;
}

.footer a,.footer a:link,.footer a:hover,.footer a:active {
color:#eee;
}

#tooltip {
position:absolute;
z-index:3000;
border:1px solid #111;
background-color:#eee;
opacity:1px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
padding:5px;
}

#tooltip h3,#tooltip div {
margin:0;
}

.header_submsg li {
margin-left:15px;
}

.msg_locked {
width:120px;
height:1px;
overflow:hidden;
}

.footer span {
margin-right:20px;
}

.me_event {
border-top:1px solid #FCF8BC;
padding:5px;
}

.me_event_low {
border:0 solid #EFEFEF;
margin-bottom:5px;
font-weight:lighter;
color:#999;
padding:5px;
}

.box_heading {
height:25px;
width:100%;
}

.box_heading_yellow {
background:url(/static/images/yellow_bg.gif);
color:#D6156C;
}

.person_box {
margin-bottom:10px;
padding:5px 5px 5px 10px;
}

.form_left {
width:120px;
float:left;
}

.outer_block {
color:#000;
background:#fff;
}

.outer_block a,.outer_block a:link {
color:#000;
}

.loading_bar {
position:fixed;
}

.post_button_disabled {
margin-right:10px;
background:#EEE;
-moz-border-radius:10px;
-webkit-border-radius:10px;
border:1px solid #FFF;
border-bottom:1px solid #2B2825;
padding:5px;
}

.post_button_disabled a,.post_button_disabled a:link {
color:#999;
text-decoration:none;
}

.post_button_selected {
background:#666;
}

.post_button_selected a,.post_button_selected a:link {
color:#fff;
text-decoration:none;
}

input.big_input {
height:30px;
padding-bottom:2px;
font-size:18px;
}

h1 {
margin-bottom:10px;
color:#666;
margin-top:10px;
}

.big_input_submit {
border:1px solid #000;
cursor:pointer;
color:#000;
float:left;
padding:10px;
}

.toggle {
border:2px solid #D6156C;
background:#FCF8BC url(/static/images/yellow_bg.gif);
cursor:pointer;
color:#000;
}

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
border:0 none;
vertical-align:baseline;
margin:0;
padding:0;
}

.outer_content {
border:1px solid #EFECC2;
}

.white_bg {
background:#fff;
}

.gray_border {
border:1px solid #eee;
}

.header_msg a,.header_msg a:hover {
text-decoration:none;
}

/* compact widgets */

div.compact_top {
background:url(/static/images/widgets/images/compact_top_bg.png) repeat-x bottom;
}

div.compact_heading {
background:url(/static/images/widgets/images/compact_heading_bg.png) repeat-x;
color:#fff;
}

div.compact_heading h3 {
padding-top:5px;
margin-left:5px;
}