{% load i18n %}
{% load assist_tags %}
{% load account_tags %}

<style>
.box_contact_item {
	background: #eee; 
	padding: 2px; 
	border-bottom: 1px solid #ccc;
	clear:both;
}
</style>

<script language='javascript'>
</script>
<div class='box' style=' '>
    <div style="" class="box_heading box_heading_widget box_heading_red rounded_upper" id="widget_heading_{{widget_id}}">
        <h3>
	    	{% trans 'Contacts' %}
        </h3>
    </div>
   	
    
    <div class='box_content{% if not compact %}_expanded{% endif %}' style='background:; margin-top: 0px; {% if compact %}max-height:300px; overflow: auto;{% endif %}'>       
 		
 		
 		{% if expanded %}
 		
	 		<div class='box_contact_details' style='border: 1px solid #ccc; margin: 5px; '>
	       		
	       		<script language='javascript'>
	       			document.getElementById('ref_contact_id').value = '{{contact_detail.id}}'; 
	       		</script>
	       		
	       		<form name='collapse_contact_{{c.id}}' method='GET' action='/ajax/collapse_contact/'>
			 	<input type='hidden' name='widget_id' value='{{widget_id}}'/>
	       		<div style='background: {% if contact_detail.subscribed %}#eee{% else %}#FFB6C1{% endif %}; padding: 2px; border-bottom: 1px solid #ccc; cursor: pointer;' onclick=''>
	       			<a href='javascript:document.forms.collapse_contact_{{c.id}}.submit();'>
	       			<img border='0' src='/static/images/go-back.png' style='float:right;' />
	       			<span style='padding-left: 5px;'>{{contact_detail.display_name_ez_name}}</span>
	       			</a>
	       		</div>
	       		
	       		</form>
	       		
	       		<div> 
	       			{% if contact_detail.email %}
		       			<div class='me_event'>
		       				Email: <span id='box_contact_email'><a href='mailto:{{contact_detail.email}}'>{{contact_detail.email}}</a></span>
		       			</div>
	       			{% endif %}
       				{% if contact_detail.company %}
		       			<div class='me_event'>
		       				Company: <span id='box_contact_company'>{{contact_detail.company}}</span>
		       			</div>
	       			{% endif %}
	       			{% if contact_detail.phone %}
		       			<div class='me_event'>
		       				Phone: <span id='box_contact_phone'>{{contact_detail.phone}}</span>
		       			</div>
	       			{% endif %}
	       			{% if contact_detail.twitter_screen_name %}
		       			<div class='me_event'>
		       				Twitter: <span id='box_contact_twitter_screen_name'>{{contact_detail.twitter_screen_name}}</span>
		       			</div>
	       			{% endif %}
	       			{% if contact_detail.website %}
		       			<div class='me_event'>
		       				Website: <span id='box_contact_website'><a href='{{contact_detail.website}}'>{{contact_detail.website}}</a></span>
		       			</div>
	       			{% endif %}	  
	       			{% if contact_detail.description %}
		       			<div class='me_event'>
		       				Description: <span id='box_contact_description'>{{contact_detail.description}}</span>
		       			</div>
	       			{% endif %}		       			     				       			
	       			<div class='me_event'>
	       				{% trans 'Last email' %}: 
	       				{% if not contact_detail.last_contacted_date %}
	       					{% trans 'never' %}
	       				{% else %}
	       					{{contact_detail.last_contacted_date|timesince}} {% trans 'ago' %}
	       					{% if contact_detail.last_contacted_alias %}
	       						{% trans 'by' %} {{contact_detail.last_contacted_alias|tagname:alias}}
	       					{% endif %}
	       				{% endif %}
	       			</div>
	       			
	       		</div>
	       		
	        </div>
	       
	       	<input type='button' style='margin: 0px 0px 5px 5px;' onclick="document.forms.collapse_contact_{{c.id}}.submit(); return false;" name='go_back' value="{% trans 'Go back' %}"/>
	       
	       
       		
 		{% else %}
 		
	 		{% if contacts %}
	 		
	 		<div class='box_contact_results' style='border: 1px solid #ccc; margin: 5px; '>
	 			{% for c in contacts %}
	 				
			 	    <div class='box_contact_item' id='contact_item_{{c.id}}' style='' onclick=''>
			 	    	<form name='expand_contact_{{c.id}}' method='GET' action='/ajax/expand_contact/'>
			 	    	<a href='javascript:document.forms.expand_contact_{{c.id}}.submit();'>
			 	    		<input type='hidden' name='widget_id' value='{{widget_id}}'/>
			 	    		<input type='hidden' name='id_or_slug' value='{{c.id}}'/>
			 	    		{% if c.is_team %}<img title='{% trans "This is a team member." %}' border='0' src='/static/tango/apps/system-users.png'/>{% endif %}<span style='padding-left: 5px;'>{{c.display_name_ez_name}}</span>
			 	    	</a>
			 	    	</form>
			 	    </div>
			 	{% endfor %}
	 	    </div>
	 	    {% endif %}
	 	    
 	    	{% for other_list in other_contacts %}
	 			<div id='box_contact_results' style='border: 1px solid #ccc; margin: 5px; '>
	 			
					<div class='box_contact_item' style='' onclick=''>
						<b>{{other_list.name}}{% trans "'s Contacts" %}</b>
					</div>	
					
		 			{% for c in other_list.contacts %}
				 	    <div class='box_contact_item' id='contact_item_{{c.id}}' style='' onclick=''>
				 	    	<form name='expand_contact_{{c.id}}' method='GET' action='/ajax/expand_contact/'>
				 	    	<a href='javascript:document.forms.expand_contact_{{c.id}}.submit();'>
				 	    		<input type='hidden' name='widget_id' value='{{widget_id}}'/>
				 	    		<input type='hidden' name='id_or_slug' value='{{c.id}}'/>
				 	    		<img src='/static/tango/apps/system-users.png' border='0'/> <span style='padding-left: 5px;'>{{c.display_name_ez_name}}</span>
				 	    	</a>
				 	    	</form>
				 	    </div>				 	    
				 	{% endfor %}
			 	</div>			 	
		 	{% endfor %}   
 	   	{% endif %}   
 		
    </div> 
    
    {% if compact %}
        <div style='display:none; padding:5px; background: #AEC7E3; border-top:1px solid #3465A4' class=''>
			
		</div>
    {% endif %}
</div>