{% extends 'main.html' %}
{% load i18n %}
{% load account_tags %}
{% block title %}{% render flatpage.title %}{% endblock %}

{% block description %}{% trans 'Schedule emails automatically' %} - {% render flatpage.title %}{% endblock %}

{% block header %}
	<div style="border: 1px solid #ccc; background: #eee; text-align: center;" class="block block_header">
		<h1>{% render flatpage.title %}</h1>
	</div>
{% endblock %}
{% block content_class %}white_bg outer_content{% endblock %}

{% load markup %}
{% load comments %}
{% block javascript %}
<script type="text/javascript">
$(document).ready(function() {
	
});
</script>
{% endblock %}

{% block style %}
<style>
	div.notes{
		font-size:12px;
	}
	div.notes a{
		color:#990000;
	}
	.date {
		color: #333;
		font-size: 1em;
		text-align:left;
		padding-bottom: 10px;
	}
	.body p {
		margin-bottom: 10px;
	}
	
	.inline_tag_list {
		color: #CCC;
		margin-bottom: 10px;
	}
	
	.post_list div {
		margin-bottom: 10px;
	}
	
	.post_list .date {
		font-size: 1.2em;
	}
	
	#comments {
		padding-top: 15px;
	}
	.comment {
		margin-top: 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid #ccc;
		font-size: 1.1em;
		clear: both;
	}
	h5 {
		font-size: 1.1em;
	}
	a.count, a.count:hover, a.count:link {
		float: right;
		color: #333;
	}
	.comment .date {
		font-size: 1em;
		margin-top: 5px;
	}
	form label {
		display: block;
	
	}
</style>
{% endblock %}

{% block content %}
	<div class='block block_content white_bg outer_content' style='background:;'>
		{% render flatpage.content %}
		<div id='comments'>
			  {% get_comment_list for flatpage as comment_list %}
			  
			  {% if comment_list %}
			  <div id="comments">
			    <a name="comments"></a>
			    <h3 class="comments_title">Comments</h3>
			    {% for comment in comment_list %}
			      {% if comment.is_public %}
			      <div class="comment">
			        <h5 class="name">
			          <a name="c{{ comment.id }}" href="{{ comment.get_absolute_url }}" title="Permalink to {{ comment.person_name }}'s comment" class="count">{{ forloop.counter }}</a> 
			          {% if comment.user_url %}<a href="{{ comment.user_url }}">{{ comment.user_name }}</a>{% else %}{{ comment.user_name }}{% endif %} says...
			        </h5>
			        {{ comment.comment|urlizetrunc:"60"|markdown:"safe" }}
			        <p class="date">Posted at {{ comment.submit_date|date:"P" }} on {{ comment.submit_date|date:"F j, Y" }}</p>
			      </div>
			      {% endif %}
			    {% endfor %}
			  </div>
			  {% endif %}
			  {% if flatpage.enable_comments %}
			    {% render_comment_form for flatpage %}
			  {% else %}
			    <!-- <div id="comment_form">
			      <h3>Comments are closed.</h3>
			      <p>Comments have been close for this post.</p>
			    </div>  -->
			  {% endif %}
		</div>
	</div>
	
{% endblock content %}

