{% load i18n %}<html lang="en-US">
<head>
<META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">
<META HTTP-EQUIV="Expires" CONTENT="Sun, 22 Feb 2009 04:50:18 GMT">
<LINK REV="made" href="mailto:founders@{{site.domain}}">
<META NAME="keywords" CONTENT="Virtual assistant by email, email assistant, email group status reports.  Get your own email assistant with {{site.name}}">
<META NAME="description" CONTENT="{% trans 'Need a personal assistant to handle group scheduling?  '%}{{site.name}} {% trans 'is virtual assistance by email.  Never forget another appointment again: you can forward all emails related to events directly to assistant@' %}{{site.domain}}.  {% trans 'Companies can get their own noted account and each employee is assigned their own assistant.  Assistant services are a great value add for any business and can be plug and play. ' %}{{site.name}} {% trans 'provides group scheduling, group status alerts, reminders, event invitation management, and virtual assistance.' %}">
<META NAME="author" CONTENT="Noted, Inc.">
<META NAME="ROBOTS" CONTENT="ALL">

<meta name="viewport" content="width=devicewidth; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
<!-- <style type="text/css" media="screen">@import "/static/iui/iui.css";</style>
<script type="application/x-javascript" src="/static/iui/iui.js"></script> -->

<style type="text/css">
	body {
        font: 12px 'Helvetica Neue', 'Helvetica', 'Arial';
        
	}
    .design_spacer {
        height: 2px;
        background: #fff;
        clear: both;
        max-height: 2px;
    }
    .widgets_right a, .widgets_right a:link, .widgets_right a:active, .widgets_right a:hover {
    	color: #000;
    }
	.rounded_lower {
		-moz-border-radius-bottomright: 10px; 
		-webkit-border-bottom-right-radius: 10px; 
		-moz-border-radius-bottomleft: 10px; 
		-webkit-border-bottom-left-radius: 10px; 	
	}
	.rounded_upper {
		-moz-border-radius-topright: 10px; 
		-webkit-border-top-right-radius: 10px; 
		-moz-border-radius-topleft: 10px; 
		-webkit-border-top-left-radius: 10px;	
	}
	.rounded_left {
		-moz-border-radius-topleft: 10px; 
		-webkit-border-top-left-radius: 10px; 
		-moz-border-radius-bottomleft: 10px; 
		-webkit-border-bottom-left-radius: 10px;	
	}
	.rounded_right {
		-moz-border-radius-topright: 10px; 
		-webkit-border-top-right-radius: 10px; 
		-moz-border-radius-bottomright: 10px; 
		-webkit-border-bottom-right-radius: 10px;	
	}
	.post_button a, .post_button a:link {
        color: #000;
        text-decoration: none;
    }
    .post_button {
        padding: 5px;
        margin-right: 10px;
        background: url(/static/images/yellow_bg.gif) #FCF8BC; 
        background-repeat: repeat-x; 
        -moz-border-radius: 10px; 
        -webkit-border-radius: 10px;
        color: #000;
        border: 1px solid #FFF;
        border-bottom: 1px solid #2B2825;
    }
	#header_nav span {
        margin: 10px;
		margin-right: 0px;
        top: 15px;
        position: relative;
    }
	#header_nav span a {
		color: #D6156C;
		border-bottom: 1px solid #0B8C8F;
		text-decoration: none;
	}
	#header_nav span a:hover {
		border-bottom: 2px solid #0B8C8F;
		text-decoration: none;
	}
	a, a:link, a:hover, a:active {
		color: #fff	
	}
	
	.footer a, .footer a:link {
    	color: #000;
    }
	
    .block {
        padding-left: 21px; 
        padding-top: 10px; 
        padding-bottom: 10px; 
		padding-right: 20px;
    }
    #tooltip {
    	position: absolute;
    	z-index: 3000;
    	border: 1px solid #111;
    	background-color: #eee;
    	padding: 5px;
    	opacity: 1;
        -moz-border-radius: 5px; -webkit-border-radius: 5px; 
        }
    #tooltip h3, #tooltip div { margin: 0; }
	
	.header_submsg li {
		margin-left: 15px;	
	}
	.msg_locked {
		width: 120px;
		height: 1px;
		overflow:hidden; 
		
	}
	.footer span {
		margin-right: 20px;	
	}
	

	.me_event {
		background: ;
		padding: 5px;
		border-top: 1px solid #ccc;
	}
	.me_event_low {
		background:;
		padding: 5px;
		font-weight:lighter;
		color: #999;
	}
	.box_heading {
		background:url(/static/images/dark_bg.gif);
		height: 25px; 
		color: #fff; 
		width: 100%;
		margin-bottom:0px;
	}
	.box_heading_yellow {
		background:url(/static/images/yellow_bg.gif); 
		color: #D6156C;
		margin-bottom: ;
	}
	.box_heading h3 {
		padding-top: 5px;
		margin-left: 10px;	
		
	}
	.person_box {
		padding: 5px;
		padding-left: 10px;
		margin-bottom: 10px;
	}
	
	.notify {
		border: 1px solid #EFE995;
	}
	
	.header_msg a {
		text-decoration: none;
	}
	.header_msg a:hover {
		text-decoration: none;
	}
	.form_left {
		width: 120px;	
		float: left;
	}
	.outer_block {
		color: #000;	
		background: #fff;
		
		
	}
	.outer_block a, .outer_block a:link {
        color: #000;
        
    }
    .loading_bar {
    	position:fixed;
    }

    .post_button a, .post_button a:link {
        color: #000;
        text-decoration: none;
    }
    .post_button {
        padding: 5px;
        margin-right: 10px;
        background: url(/static/images/yellow_bg.gif) #FCF8BC; 
        background-repeat: repeat-x; 
        -moz-border-radius: 10px; 
        -webkit-border-radius: 10px;
        color: #000;
        border: 1px solid #FFF;
        border-bottom: 1px solid #2B2825;
    }
	input.big_input {
    	height: 30px; 
    	padding-bottom: 2px;
   	 	font-size: 18px;
	}
	h1 {
		margin-bottom: 10px;
		color: #D6156C;
		margin-top: 10px;
	}
	.big_input_submit {
		border: 1px solid #000;
		cursor: pointer;
		color: #000;
		float: left;
		padding: 10px; 
	}
	.toggle {
		border: 2px solid #D6156C;
		background: #FCF8BC url(/static/images/yellow_bg.gif);
		cursor: pointer;
		color: #000;
	}
    
    .white_bg {
    	background: #fff;
    	
    }
    .white_bg a, .white_bg a:link, .white_bg a:hover {
    	color: #000;
    }
    .widgets_left a, .widgets_left a:link {
    	color: #000;
    }

	.giant_config_modal {
		position: fixed;
	}
	
	.action_icon {
		float: right; margin-right: 5px;
	}
	.status_msg {
		background: url(/static/images/yellow_bg.gif) #FCF8BC; 
		background-repeat:repeat-x; 
		padding: 10px;
		margin-top:;
	}
	.dash_title h1 {
		color: #FCF8BC;
	}
	.kb_block a, .kb_block a:link, .kb_block a:hover {
		color: #000;
	}
	.box_content_expanded {
		background: #fff;
	}
	#box_contact_container {
		height: 200px;
	}
</style>
{% block style %}
	<!-- additional stylesheets go here -->
{% endblock style %}

<script language="javascript" src="/static/js/lib/jquery-1.4.2.min.js"></script>

<script language="javascript" src="/static/js/lib/jquery.modal.js"></script>

<link rel="stylesheet" href="/static/css/thickbox.css" type="text/css" media="screen" />

{% block javascript %}
	<!-- additional javascript goes here -->
{% endblock javascript %}

<title>{% block title %}{% trans 'Noted Dashboard Mobile' %} {% endblock title %}</title>

</head>

<body style='margin: 0px; background: #FFFEEA; background-position: top center; background-repeat: no-repeat;'>
{% include 'csrf_token.html' %}

{% block modals %}

{% endblock modals %}

<div style='width: 100%; height: auto; background:; clear: both;  '>
	
		{% block content %}
		
		{% endblock %}
		
		{% block widgets %}
			
		{% endblock %}
		
</div>

</body>

</html>