{% extends 'mainv1_dash.html' %}
{% load i18n %}
{% block style %}
<style>

    .post_button a, .post_button a:link {
        color: #000;
        text-decoration: none;
    }
    .post_button {
        padding: 5px;
        margin-right: 10px;
        background: url(/static/images/yellow_bg.gif) #FCF8BC; 
        background-repeat: repeat-x; 
        -moz-border-radius: 10px; 
        -webkit-border-radius: 10px;
        color: #000;
        border: 1px solid #FFF;
        border-bottom: 1px solid #2B2825;
    }
    .block input {
        font-size: .9em;
    }
</style>
{% endblock %}

{% block javascript %}
<script language="javascript">
	
</script>

{% endblock %}

{% block content %}
<div class='outer_block block rounded_upper outer_content'>
    <div class='content' style='padding-right:15px; height: ; '>
        <span style='font-size: 1.5em; '>{% trans 'Login to your account' %} {% if base_url %}{% trans 'at' %} {{base_url}}{% endif %}</span>
        <div style='margin-top: 15px;'>            
            <form method='POST' name='login_form' id='exchange_form' action='/ajax/login/'>
            <input type='hidden' name='alias' value='{{alias_slug}}'/>
            <input type='hidden' name='base_url' value='{{base_url}}'/>
            <input type='hidden' name='agent' value='windowmob'/>
            <div style='width: 80px; float: left; display: inline;'>{% trans 'Email:' %} </div><input type='text' name='email' id='login_email' value='{{email}}' /> <Br/>
            <div style='clear:both;'></div>
            <div style='width: 80px; float: left; display: inline;'>{% trans 'Password:' %} </div><input type='password' name='password' id='login_password' value='' /> <Br/>
            <div style='clear:both;'></div>
            <input type='submit' name='' value='Login' style='margin-top: 10px;'/>
            <input type='button' name='' value='{% trans "Full site" %}' onclick='window.location="/dash/"; return false;' style='margin-left: 10px;'/>
            </form>
        </div>
    </div>
</div>

{% endblock content %}
