<div>
	Dear Snipd users,
	<br/><br/>
	We've partnered with <strong><a href='http://noted.cc'>Noted.cc</a></strong> (automated knowledge discovery by email), here's why:
	<br/><br/>
	1. <a href='http://noted.cc'>Noted</a> scans company or personal emails to unlock knowledge: file revisions, conversations, questions & answers, and meetings.
	<br/><br/>
	2. <a href='http://noted.cc'>Noted</a> alerts you to respond to emails you might otherwise forget.
	<br/><br/>
	3. <a href='http://noted.cc'>Noted</a> finds dates & times in your inbox and manages your <strong>existing calendar</strong> automatically.
	<br/><br/>
	
	<div style='background: #eee; border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;'>
		Snipd users get an amazing 50% off all service levels, use the code: SNIPD at <a href='http://noted.cc/info/order'>http://noted.cc/info/order</a>.  Or, 
		you can grab the <a href='http://noted.cc/info/pay/Personal'>Personal service plan</a> <strong>free</strong> using code: SNIPD_FREE (no email crawling in Personal version - must upgrade to <a href='http://noted.cc/info/pay/PersonalPlus'>Personal Plus</a> for automated calendaring and email knowledge-base).
		
	</div>
	
	<div style='margin-bottom: 10px;'>
		Please contact Noted with any questions: founders@noted.cc. 
		<br/><br/>
		Thanks!
		<br/>
		Calenvy
	</div>
	
</div>