{% extends 'mainv1_dash.html' %}
{% load account_tags %}

{% load i18n %}

{% block style %}
<link rel="stylesheet" href="/static/css/tablesorter/tablesorter.css" type="text/css" media="screen">
{% endblock %}

{% block javascript %}
	<script language='javascript'>
		var Page = this.Page = {
			add_alias: function() {
				 var email = prompt('{% trans "Enter the email address of the new user:" %}', '');
				 if (email==null || email.trim()=='')
					 return;
				 Ajax.send_data('admin/edit_account_users/', {oper: 'add', 'email': email},
					function(data) {
						if (data.return_data.success) {
						    window.location.reload();
						} else {
							alert(data.return_data.msg);
						}
				 }, "POST");	
			 }
		};
	
	</script>
		

{% endblock %}


{% block header %}
	
	{% if not wizard_mode %}
	<div style='float:right;'>
		<input type='button' name='' value='{% trans "Go back... " %}' onclick='window.location="/?agent={{agent}}"; return false;' />
	</div>
	{% endif %}
	
	<h2 style='margin:0px;'>{% trans 'Manage users' %}</h2>
	
{% endblock %}

{% block content %}
<div style='padding: 0px;'>    
   	{% if alias.is_admin %}
	      
		<table class='tablesorter' id="rules" border="0" cellpadding="0" cellspacing="1"> 
		<thead> 
		<tr> 
			<th>ID</th> 
			<th>{% trans 'Email' %}</th> 
			<th>{% trans 'Name' %}</th> 
			<th>{% trans 'Status' %}</th>
			<th>{% trans 'Admin rights' %}</th> 
		</tr> 
		</thead> 
		<tbody>
			{% for a in team_aliases %}
			<tr id='team_alias_{{a.id}}'>
				<td>{{a.id}}</td>
				<td><a href='mailto:{{a.email}}'>{{a.email}}</a></td> 
	
				<td>{{a.get_full_name}}</td> 
				
				<td>{% ifequal a.status 'aACT' %}{% trans 'Active' %}{% else %}{% trans 'Inactive' %}{% endifequal %}</td>
				
				<td><input type='checkbox' {% if a.is_admin %}checked='checked'{% endif %} onclick='Page.change_alias_admin_status({{a.id}}, $(this).is(":checked")); return true;' disabled='disabled'/></td>
															
			</tr>
			{% endfor %}
			
		</tbody> 
		</table>
		
		<input type='button' name='add_new' value='{% trans "Add new user" %}' onclick='Page.add_alias(); return false;' />
	   
    {% endif %}
</div>
{% endblock content %}
