{% extends 'mainv1_dash.html' %}
{% load i18n %}

{% block header %}
	<input type='button' id='back' style='float:right;' onclick='history.back(); return false;' value='{% trans "Back" %}' />
	<h3>{{site.name}} {% trans 'registration' %}</h3>
{% endblock %}

{% block style %}
<style>
.block {
	background-color: ;
}

.yellow_order_box {
	border: 1px solid #ccc;
	border-right: 0px;
	border-left: 0px;
	border-top: 0px;

	width: 183px;
	height: 227px;
}

.order_box .title h1 {
	padding-top: 6px;
	color: #000;
}

.order_box hr {
	height: 1px;
	background: #ccc;
	margin: 10px;
	border: 0px;
}

.order_box .features {
	background: url(/static/images/order/images/signup_button.gif) bottom center no-repeat;
	height: 140px;
	cursor: pointer;
	text-align: center;
}

.order_box .features strong, h3 strong {
	color: #D6156C;
	font-size: 1.2em;
}

.signup_info h3 {
	margin-top: 20px;
}
.terms a {
	color: #000;
}
.signup_block {
	padding-bottom: 20px;
	margin-top: 5px;
}

h1 {
	font-weight: bold;
}
.signup_block h2 {
margin: 0px;
}

</style>

{% endblock %}

{% block javascript %}

<script language="javascript">
	$(document).ready(function() {

		// loaded on window.ready
		if (Page.show_payment) {
			Page._show_payment();
		}

		$('#signup_promo').val('').blur(Page.check_promo);
		$('#signup_agree').change(function(e) {
			Page.agreed_terms = $(this).attr('checked') ? 1 : 0;
			Page.update_submit_button();
		});
		$('#signup_agree').click(function(e) {
			Page.agreed_terms = $(this).attr('checked') ? 1 : 0;
			Page.update_submit_button();
		});

		if (Page.service != '') {
			// pre-selected service name (&service=whatever), make the dropdown box match
			$('#signup_service').val(Page.service);
		} else {
			// service is just the dropdown box's default value
			Page.service = $('#signup_service').val();
		}
		Page.get_service_features($('#signup_service'));
		Page.check_promo();

	});
	var Page = this.Page = {

		agent: "{{agent|default_if_none:''}}",
		show_payment: ("{{show_payment|lower}}" == 'true'),
		showing_payment: false,
		paypal_requires_popup: ($.browser.safari) || ('{{agent}}' != 'salesforce'),
		service: "{{service.name|default_if_none:''}}",		// pre-selected service name (in the url: &service=whatever)
		promo: "{{promo.name|default_if_none:''}}",
		alias_slug: "{{alias.slug}}",
		parent_url: "{{parent_url|default_if_none:''}}",	// URL of the thing that contains this iframe (if any)
		version: "{{version|default_if_none:''}}",			// version of the agent
		// Enable the submit button if we have everything we need
		agreed_terms:	0,
			// Put more flags here, when all of them are true then we can enable the button
		update_submit_button: function() {
			if (Page.agreed_terms) {
				//$("#signup_submit").removeAttr("disabled");
			} else {
				//$("#signup_submit").attr("disabled","disabled");
			}
		},
		check_promo: function() {
			var promo = $('#signup_promo').val();
			$('#signup_agree').removeAttr('checked');
			Page.agreed_terms = 0;
			Page.update_terms($('#signup_service').val(), promo);
		},
		popup: function(URL) {
			day = new Date();
			id = day.getTime();
			eval("page" + id + " = window.open(URL, '" + id + "', 'toolbar=1,scrollbars=1,location=0,statusbar=1,menubar=0,resizable=0,width=700,height=300,left = 370,top = 300');");
		},
		_show_payment: function() {
			$('#signup_section_service').show();
			$('#signup_section_promo').show();
			$('#signup_section_agree').show();
			Page.showing_payment = true;
		},

		send_registration: function(next_data) {
			/*
			 * For new (non-logged-in) users, register the user.
			 * This may join the user to an existing account.
			 */
		    var email = $('#signup_email').val();
			var team_url = ($('#signup_team_url').attr('name')) ? $('#signup_team_url').val() : '';
			var service_name = '{{service.name}}';
			var params = {
				email: email,
			   	team_url: team_url,
			    service_name: service_name,
			    promo: Page.promo
			};

			// For some agents, auto-create a RemoteUser login token upon registration
			if (RemoteUser.remote_usertype != null) {
				params.remote_usertype = RemoteUser.remote_usertype;
				params.remote_userid = RemoteUser.remote_userid;
				params.remote_organizationid = RemoteUser.remote_organizationid;
				params.cred_type = RemoteUser.cred_type;
				params.version = Page.version;
			}
		    Ajax.send_data('send_registration/', params, function(data) {
                if (data.return_data.success) {
                	{% comment %} If we're joining an existing account, we're not logged in automatically --
					just go to the payment complete page where we tell user to check their email {% endcomment %}

                    if (data.return_data.redirect_url) {
                        window.location = data.return_data.redirect_url;
                    } else {
                    	Page.next(next_data);
                    }
                } else if (data.return_data.full_registration_required) {
					$('#signup_submit').removeAttr('disabled');
    				Page._show_payment();
                } else {
                    alert(data.return_data.msg);
                    $('#signup_submit').removeAttr('disabled');
                }
            }, "POST");
		},

		next: function(data) {
			/*
			 * Call this with the return data from ajax/select_service
			 */

	    	if (data.return_data.payment_optional) {

                {% comment %} Let them choose whether to go to the billing page {% endcomment %}

                if (confirm(data.return_data.msg)) {
                 	window.location = '/info/billing/?agent={{agent}}&service=' + Page.service;
                } else {
                    window.location = '/dash/?agent={{agent}}';
                }

	    	} else if (data.return_data.payment_required) {

                {% comment %} Payment is required, take them to the billing page {% endcomment %}

                window.location = '/info/billing/?agent={{agent}}&service=' + Page.service;

            } else if (data.return_data.success) {
                window.location = '/dash/?agent={{agent}}';
            } else {

                alert(data.return_data.msg);
                $('#signup_submit').removeAttr('disabled');
            }

		},

		update_terms: function(service, promo) {
			$('#signup_promo_error').text('');
			$('#signup_promo').css({border: '2px solid #ccc'});
		    Ajax.send_data('get_service_terms/', {
		        service: service,
		        promo: promo
		    }, function(data) {
                if (data.return_data.success) {
                    Page.service = service;
                    Page.promo = promo;
	                if (data.return_data.redirect) {
		                window.location='?promo=' + escape(data.return_data.promo_name) +
		                	'&email=' + escape($('#signup_email').val());
	                } else {
	                    $('#signup_service_terms').html(data.return_data.terms);
	                    if ($('#signup_promo').val() != '') {
	                    	$('#signup_promo').css({border: '2px solid green'});
	                    }
	                    /*
	                    if (data.return_data.payment_required) {
		                    //$('#paypal_info').show();
		                    $('#signup_submit').attr('value', 'Complete payment');
	                    } else {
		                    //$('#paypal_info').hide();
		                    $('#signup_submit').attr('value', 'Create account');
	                    }*/
	                }
                } else {
                    Page.promo = '';
                    $('#signup_promo_error').text(data.return_data.msg);
                    $('#signup_promo').css({border: '2px solid red'});
                    // window.location='?';
                }
            }, "GET");
		},

		submit_form: function() {
			/*
			 * Called when the user presses the submit button
			 */

			if (!Page.showing_payment) {
				// Show the rest of the page
				Page._show_payment();
				return;
			}

			if (Page.agreed_terms == 0) {
				alert("{% trans 'Please agree to the terms of service.' %}");
				return;
			}

			$('#signup_submit').attr('disabled', 'disabled');

			Ajax.send_data('select_service/', {
			    service: Page.service,
			    promo: Page.promo
		    }, function(data) {
		    	if (Page.alias_slug != '') {
					// User is logged in, send them to the billing page
					Page.next(data);
		    	} else {
			    	// User is not logged in or registered yet, register them first before proceeding
			    	Page.send_registration(data);
		    	}
		    }, "GET");
		},

		send_registration: function(next_data) {
			/*
			 * For new (non-logged-in) users, register the user.
			 * This may join the user to an existing account.
			 */
		    var email = $('#signup_email').val();
			var team_url = ($('#signup_team_url').attr('name')) ? $('#signup_team_url').val() : '';
			var service_name = Page.service;

		    Ajax.send_data('send_registration/', {
		        email: email,
		        team_url: team_url,
		        service_name: service_name,
		        promo: Page.promo
		    }, function(data) {
                if (data.return_data.success) {
                	{% comment %} If we're joining an existing account, we're not logged in automatically --
					just go to the payment complete page where we tell user to check their email {% endcomment %}

                    if (data.return_data.redirect_url) {
                        window.location = data.return_data.redirect_url;
                    } else {
                    	Page.next(next_data);
                    }
                } else {
                    alert(data.return_data.msg);
                    $('#signup_submit').removeAttr('disabled');
                }
            }, "POST");
		},

		get_service_features_html: function(features) {
            var html = "";
            for (var i=0; i < features.length; i++) {
				// do something with features[i]
				var is_checked = features[i].value;
				if (is_checked)
					html += "<input disabled='disabled' type='checkbox' checked='checked'/> " + features[i].name + "<br/>";
				else
					html += "<input disabled='disabled' type='checkbox'/> " + features[i].name + "<br/>";
            }
			return html;
		},

		get_service_features: function(field) {
			var service_name = field.val();
			//alert(service_name);

			Ajax.send_data('get_service_features/', {
		        service: service_name
		    }, function(data) {
                if (data.return_data.success) {
                    var features = data.return_data.features;
					html = Page.get_service_features_html(features);
					$('#service_features').html(html);
                } else {
                    alert(data.return_data.msg);
                }
            }, "GET");

		}

	};

</script>
{% endblock %}

{% block extra_javascript %}
<script language="javascript">
	// For iPhone, don't need to get any login token upon signup
	var RemoteUser = {
		remote_usertype:		null,
		remote_userid:			null,
		remote_organizationid:	null,
		cred_type:				null
	};
</script>
{% endblock %}

{% block header_nav %}

{% endblock %}

{% block content %}
<div class='outer_content' style='padding: 5px; height: auto; background: #fff;'>

	<form id='signup_form' onsubmit='Page.submit_form(); return false;'>

		<div class='signup_section' style=''>

			<div class='signup_block' id='signup_section_service' style='margin-top:; display:none;'>


				<select id='signup_service' name='signup_service' onchange='Page.get_service_features($(this)); Page.check_promo();'>
					{% for service in services %}
						<option value='{{service.name}}' id='signup_service_{{service.slug}}' name='signup_service_{{service.name}}'>
							{{service.name}}
							{% if service.is_free %}
								- {% trans "free (limited)" %}
							{% else %}
								{% if not alias %}
									{% if service.trial_num_dmy %}
										- {% trans "free trial" %}
									{% endif %}
								{% endif %}
							{% endif %}
						</option>
					{% endfor %}
				</select>

				<div id='service_features' style='margin-top: 5px; font-size: .9em;'>

				</div>

				<div style='height: 0px;'></div>
			</div>

			<div style='clear:both;'></div>

			<div class='signup_block' id='signup_section_email' style='margin-top:;'>
				<h2>{% trans 'Work email address' %}
				</h2>

				<div style='font-size: .9em; margin-bottom: 10px;'>
					{% trans "(No personal address)" %}
				</div>

				{% if alias %}
					<input disabled='disabled' type='text' id='signup_email' name='signup_email' class='' style='float: left; width: 200px' value='{{alias.email}}'/>
				{% else %}
					<input type='text' id='signup_email' name='signup_email' autocorrect='off' autocapitalize='off' class='' style='float: left; width: 200px' value='{{email|default_if_none:""}}'/>
				{% endif %}

				<div style='height: 0px;'></div>
			</div>

			<div style='clear:both;'></div>

			{% if not alias %}
			<div class='signup_block' id='signup_section_promo' style='margin-top: 15px; display:none;'>

				<h2>{% trans 'Save money' %}</h2>
				<div style='margin-bottom: 10px;'>
					{% trans "Enter a promotional discount code here:" %}

				</div>

				<input {% if alias %}disabled='disabled'{% endif %} type='text' id='signup_promo' autocorrect='off' autocapitalize='off' name='signup_promo' class='' style='width: 130px' value=''/>
				<input {% if alias %}disabled='disabled'{% endif %} style='margin-left: 5px;' type='button' value='{% trans "Validate" %}' onclick='Page.check_promo(); return false;'/>

				<div style='height: 10px; color: red; font-size:.9em;' id='signup_promo_error' ></div>
			</div>
			{% else %}
				<input type='hidden' disabled='disabled' id='signup_promo' name='signup_promo' class='' value=''/>
			{% endif %}


			<div id='signup_section_agree' class='rounded_upper rounded_lower signup_block' style='margin-top: 10px; display:none;'>

				<div>
					<div id='signup_service_terms' class='' style='padding: 5px; background:#FCF8BC; margin-bottom: 5px; font-size: .9em;' align='center'>
					</div>

				</div>

			</div>

			<div class='terms' style='margin-top: 5px;'>
				<label>
					<input type='checkbox' name='signup_agree' id='signup_agree'/>

					{% trans 'I agree to the' %}
					<a href='#' onclick='Page.popup("/info/terms/terms");return false;'>{% trans 'terms of service' %}</a>
				</label>
			</div>

			<div style='padding-top: 10px;'>
				<input type='submit' id='signup_submit' name='signup_submit' value='{% trans "Continue &rarr;" %}'/>
			</div>


		</div>

		<div style='clear:both;'></div>

	</form>

</div>

<div style='clear:both;'></div>

{% endblock %}

{% block footer %}
{% endblock %}

{% block outer_footer %}
{% endblock %}

{% block outer_footer_extended %}
{% endblock %}
