{% extends 'mainv1_dash.html' %}
{% load i18n %}

{% block javascript %}
<script language="javascript">
	var Page = this.Page = {
        validate: function() {
        
            var email = $('#forgot_email').val();

			if (email == '') { alert("{% trans 'Please enter a valid email address.' %}"); return false; } 
				
			
            Ajax.send_data('forgot_password/', {email: email }, function(data) {
                if (data.return_data.success) {
					alert(data.return_data.msg);
					window.location = '/dash/?agent={{agent}}';	
                } else {
                    alert(data.return_data.msg);
                }

			}, "POST");

			return false;
			
        }
	};
	
	$(document).ready(function() {
	
	});
</script>
{% endblock %}

{% block header %}
	{% spaceless %}
			<input type='button' id='back' style='float:right;' onclick='history.back(); return false;' value='{% trans "Back" %}' />
		
			<h2 style='margin:0px;'>{% trans 'Forgot your password?' %}</h2>
	{% endspaceless %}
{% endblock %}

{% block content %}

<div class='outer_block outer_content'>
    <div class='content'>
        <div style='padding: 5px;'>            
            
            <form method='POST' onsubmit='return Page.validate(); return false;'>
	           
	            {% trans 'Email: ' %} <input type='text' name='forgot_email' id='forgot_email' value='{{email}}' />
	            
	            <div style='clear:both; height: 5px;'></div>
	            
	            <input type='submit' name='' value='{% trans "Continue" %}' style='margin-top: 10px;'/>	           	
	           	
           	</form>
            
        </div>
    </div>
</div>
{% endblock content %}
