{% extends 'mainv1_dash.html' %}
{% load i18n %}
{% load assist_tags %}
{% load account_tags %}

{% block dash_title %}

{% endblock %}

{% block style %}

<style>
form {
	margin: 0px;
}

.newsfeed_item_text {
	color: #999;
	clear:both;
}

#crawl_details, #crawl_message {
	color: #eee;
}

.newsfeed_item_highlight {
		background: #eee;
		padding: 2px 2px 0px 2px;
		border: 1px solid #ccc;
}

.message_completed {
		background-color: #e8e8e8;
		padding: 2px 2px 0px 2px;
		border: 1px solid #ddd;
		opacity: 0.6;
		filter:alpha(opacity=60);
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=60)";
}

.message_incomplete {
		background: #fee;
		padding: 2px 2px 0px 2px;
		border: 1px solid #fcc;
}

.kb_block {
	margin-bottom: 10px;
}

.newsfeed_item_text:hover {
	color: #000;
}

.person a, .person a:link {
    color: #000;
}

a.assigned_to, a.assigned_to:link, a.assigned_to:active {
	color: blue;
}

table.calendar {
	border-collapse: separate;
	border-spacing: 2px
}

.dateheader {
	height: 30px;
	text-align: center
}

.daysofweek {
	height: 20px;
	text-align: center
}

table.calendar td {
	margin: 2px;
	padding: 1px
	width: 120px;
	height: 52px
}

table.calendar td.daynumber {
	font-size: 8pt;
	vertical-align: top
}

table.calendar td.noday {
	background-color: #eef
}

table.calendar td.free {
	background-color: #c5dbff
}

table.calendar td.busy {
	background-color: #ffcece
}

table.calendar td.compact {
	width: 28px;
	height: 20px;
	text-align: center
}
.notify a, .notify a:link {
	color: #000;
}

.file_has_perms {
    color: #000;
}

.file_request_perms {
    color: #999;
}
.file_link {
    border-bottom: 1px solid #000;
    cursor: pointer;
}
.person_collections {

    position: relative;
    z-index: 444;
}

p {

}

.box_heading_red a, .box_heading_red a:link, .box_heading_red a:active  {
	color: #fff;
}

.box_content a, .box_content a:link, .box_content a:active {
	color:#222;
}

.kb_outer_block {
	border-bottom: 1px solid #eee;
}

.kb_outer_block_compact {
	font-size: .9em;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
	border-left: 0px solid #eee;

}

.kb_group {
	padding-left: 5px;
}

.kb_group_date {
	border-bottom: 1px solid #fff;
}

.wizard .block_content a, .wizard .block_content a:link, .wizard .block_content a:active {
	color: #999;
}

.box_content {
	background: #fff;
	border: 1px solid #eee;
}

.action_href {
	opacity: .4;
}

.action_href:hover {
	opacity: 1;
}

.load_widgets {
text-align: center;
}

#widgets_bottom_right {
	position:fixed;
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	-moz-binding: url('/static/xml/ellipsis.xml#ellipsis');
}

.search_form {
	margin: 0px 0px 5px 0px;
}

.heading_control input {
	font-size: .9em;
}

</style>

<!--[if IE]>
<style type="text/css">
#widgets_bottom_right {
	position:absolute;
}

.box_content  {
   height: expression( this.scrollHeight > 199 ? "200px" : "auto" ); /* sets max-height for IE */
   max-height: 200px; /* sets max-height value for all standards-compliant browsers */
}

#box_contact_container {
   height: expression( this.scrollHeight > 199 ? "200px" : "auto" ); /* sets max-height for IE */
   max-height: 200px; /* sets max-height value for all standards-compliant browsers */
}

.box_heading, .box_heading_widget, .box_heading_red {
	height: 25px;
	overflow:hidden;
}
.box {
	background: #fff;
	margin-top: 15px;
	margin-bottom: -5px;
}

.search_form {
	margin: 2px 0px 4px 0px;
}
.search_form, #box_contact_form {
	margin: 2px 0px 4px 0px;
}

#crawl_display {
	margin-bottom: 5px;
}

</style>
<![endif]-->

{% endblock %}

{% block extra_style %}

{% endblock %}

{% block extra_javascript %}
	<script language="javascript" id="outlook_main_account">
		{% comment %}
		This is only here to identify the document for the Outlook plugin (nothing inside these script tags)
		{% endcomment %}
	</script>

	<script language='javascript' src='/dash/main_account.js?agent={{agent}}'></script>

	<script language="javascript">
		$(document).ready(function() {
			Page.ready();		// load the widgets
		});
	</script>
{% endblock extra_javascript %}

{% block header %}
	<!-- http://www.colourlovers.com/palette/1137316/boba_milk_tea~~ -->
	<div style='white-space:nowrap; overflow: hidden; font-size: .95em;'>
		<div style='float: left; margin-top: -2px;'>
			<!-- <input type='button' id='follow_up' onclick='Page.view_followup_only(1); return false;' value='{% trans "Follow up" %}' />  -->
			<input type='button' id='back' style='display: none;' onclick='if (Contacts.collapse) Contacts.collapse(); return false;' value='{% trans "Back" %}' />
		</div>

		<span id='home_span' style='margin-right: 10px;'>
			<a href='#' onclick='Page.view_followup_only(0); return false;'><img title='{% trans "Go home" %}' border='0' src='/static/tango/actions/go-home.png'/></a>
		</span>

		{% if alias.is_admin %}
			{% comment %}<span id="users_span" style="cursor: pointer;" onclick="window.location='/info/billing/?agent={{agent}}'; return false;">{% trans 'Billing' %}</span>{% endcomment %}
			<span id="users_span" style="cursor: pointer;" onclick="window.location='/dash/{{alias.account.base_url}}/admin/?agent={{agent}}'; return false;">{% trans 'Users' %}</span>
		{% endif %}
		<span id="settings_span" style="cursor: pointer; margin-left: 10px;" onclick="window.location='/dash/{{alias.account.base_url}}/settings/?agent={{agent}}'; return false;">{% trans 'Settings' %}</span>
		<span id="logout_span" style="cursor: pointer; margin-left: 10px;" onclick="Page.logout(); return false;">{% trans 'Logout' %}</span>
		<div style='clear:both;'></div>
	</div>
{% endblock %}

{% block content %}

{% block note_box %}
{% comment %}
<div style='margin-bottom: 15px;' id='note_box'>

	 <div id='tooltip_container' style='display:none; margin-bottom: 0px;'>
	   	 <div class='rounded_upper' style='color: #000; padding: 5px; font-size: .9em; background: #eee; border: 2px solid #ccc; height: 15px;'>
	   	     <div id='tooltip_msg' style='height: 15px; '>
	   		 </div>
	   	 </div>
 	 </div>

     <textarea title="{% trans 'Enter a note to, reply to, or comment about a contact here.' %}" name="parse" class='quick_parse' id="parse" rows="2" style="font-size: .9em; padding: 2px; width: 100%; color: #666; height: 22px; margin-top: -2px;">{% trans 'Type something...' %}</textarea>
     <input style='position:relative; display:;' type="button" name="parse_submit" id="parse_submit" value="{% trans 'Update!'%}" onClick="QuickBox.submit(); return false;"/>
</div>
{% endcomment %}
{% endblock %}

{% block crawl_display %}
	{% include 'widgets/crawl_display.html' %}
{% endblock %}

{% endblock %}

<div id='main'>

	{% block widgets %}
		<div id='widgets' style='width:100%;'>
			<!-- Widgets will be inserted by jQuery here -->
			<div class='load_widgets'>

			</div>

		</div>
	{% endblock %}

	{% block widgets_right %}

	{% endblock %}

</div>

{% block footer %}

{% endblock %}
