{% extends 'main.html' %}
{% load i18n %}

{% load markup %}

{% block style %}
<style>
	.date {
		color: #333;
		font-size: 1em;
		text-align:left;
		padding-bottom: 10px;
	}
	.body p {
		margin-bottom: 10px;
	}
	
	.inline_tag_list {
		color: #CCC;
		margin-bottom: 10px;
	}
	
	.post_list div {
		margin-bottom: 10px;
	}
	
	.post_list .date {
		font-size: 1.2em;
	}
	
	#comments {
		padding-top: 15px;
	}
	.comment {
		margin-top: 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid #ccc;
		font-size: 1.1em;
		clear: both;
	}
	h5 {
		font-size: 1.1em;
	}
	a.count, a.count:hover, a.count:link {
		float: right;
		color: #333;
	}
	.comment .date {
		font-size: 1em;
		margin-top: 5px;
	}
	form label {
		display: block;
		color: #333;
		font-weight: bold;
	}
	.content_block form {
		padding-left: 20px;
		padding-bottom: 10px;
	}
	ul.errorlist li {
	color: red;
	margin-left: 0px;
	margin-top: 10px;
	}
</style>
{% endblock %}

{% block javascript %}

{% endblock %}

{% block content_class %}outer_content white_bg block{% endblock %}

{% block header %}
	<div style="border: 1px solid #ccc; background: #eee;" class="block block_header">
		<h2>{% trans 'Comments' %}</h2>
	</div>
{% endblock header %}