{% extends "blog/base_blog.html" %}
{% load i18n %}
{% load account_tags %}

{% block title %}Post archive for {{ day|date:"d F Y" }}{% endblock %}
{% block body_class %}{{ block.super }} post_archive_day{% endblock %}

{% block content_title %}
  <h1>Post archive for {{ day|date:"d F Y" }}</h1>
{% endblock %}

{% block style %}
<style type="text/css"> 
#twitter_widget {
	float: right; 
}

div.feature {
	background:#EEE;
	border:1px solid #CCCCCC;
	margin-bottom:15px;
	padding:10px;
	
}

#main_post_content {
}

</style>

{% endblock %}

{% block content %}
  <div class="post_list block">
    {% for post in object_list %}
    <div>
      <h3 class="title"><a href="{{ post.get_absolute_url }}">{% render post.title %}</a></h3>
      <p class="date">{{ post.publish|date:"Y F d" }}</p>
      <p class="tease">{% render post.tease %}</p>
    </div>
    {% endfor %}
  </div>
{% endblock %}