{% extends "blog/base_blog.html" %}
{% load i18n %}
{% load account_tags %}

{% block title %}Post archive for {{ year }}{% endblock %}
{% block body_class %}{{ block.super }} post_archive_year{% endblock %}


{% block content_title %}
  <h1>Post archive for {{ year }}</h1>
{% endblock %}

{% block style %}
<style type="text/css"> 
#twitter_widget {
	float: right; 
}

div.feature {
	background:#EEE;
	border:1px solid #CCCCCC;
	margin-bottom:15px;
	padding:10px;
	
}

#main_post_content {
}

</style>

{% endblock %}

{% block content %}
  {% load markup %}
  
<div class='block'>
  {% for month in date_list %}
  	<a href="{% url blog_index %}{{ year }}/{{ month|date:"b" }}/">{{ month|date:"F" }}</a>
  	</br>
  {% endfor %}
</div>
  
{% endblock %}