<div id="crawl_display" style="display: none; margin-top: 5px; padding-bottom: 5px;">
	<div style='vertical-align:middle;'>	
		<img id="crawl_icon" style='vertical-align:middle;' src="/static/vistaico/blank-24.png" />
		<b><span id="crawl_message" style='vertical-align:middle;'></span></b>
		<span id="crawl_details" style='vertical-align:middle;'>
			
			<b><span id="crawl_folder"></span></b>
			<b><span id="crawl_date"></span></b>
			<span id="crawl_subject"></span>
		</span>
		
		<div style='background: #AEC7E3; border:1px solid #3465A4; height: 15px; margin-top: 5px;' class=''>
			<div align='right' style='height: 15px; font-size:.9em; color: #fff; background: #3465A4; width: 0%;' id='crawl_loader' class=''>
				<span id="crawl_percent" style='padding-left: 5px;'>0</span>%
			</div>
		</div>
		
	</div>
</div>