{% load i18n %}
{% load assist_tags %}
{% load account_tags %}

{% ifequal agent "outlook" %}

	<script language='javascript'>

		var bucket_names = [
		    {% for b in buckets %}
		    	"{{b.slug}}/{{b.text}}" {% if not forloop.last %}, {% endif %}
		    {% endfor %}
		];
		
		function outlook_search(text) {
			Page.search(text);
		}
		
		function outlook_clear() {
			Page.search('');
		}
	
		function outlook_get_bucket_names() {
			return bucket_names;
		}
	
		function outlook_set_bucket(bucket_name) {
			// TODO
		}

		$(document).ready(function() {
			try {
				window.external.Callback_SetSearchText("{{search.get_search_display}}", "{{search.get_search_type}}");
			} catch(err) {}
		});
				
	</script>

{% endifequal %}


<div class='box' style=' overflow: hidden; {% ifequal agent 'salesforce' %}display: none;{% endifequal %}'>
    
    <div onclick="" style="" class="box_heading box_heading_red rounded_upper" id="widget_heading_{{widget_id}}">
        <h3>
    		{% trans 'Search' %}
        </h3>
    </div>
    
    <div class='box_content{% if not compact %}_expanded{% endif %}' style='margin-top: 0px; padding-bottom: 5px;'> 
		{% include 'widgets/search_form.html' %}
    </div> 
   
</div>
