{% load i18n %}
{% load assist_tags %}
{% load account_tags %}

<div style="overflow: hidden; background: #fff; padding: 5px; margin-bottom:10px; border: 1px solid #ccc;" class="notify">
   
    	<div class='wizard_intro' id='wizard_intro' style='display:{% if not alias.show_modal_intro %}none{% endif %};'>
	    
		   	<div style='float:right'>
		    <a title='{% trans "Minimize" %}' href='#' onclick='Ajax.set_modals("intro", 0); return false;'>
		    	<img src='/static/tango/actions/list-remove.png' border='0'/>
		    </a>
		   	</div>
		    
		    <h3>{% trans 'Video' %}</h3>
		
		    <div align='left' style='text-align:left; padding-top: 5px;'>
		    <a title='{% trans "Watch the video overview." %}' href='#' onclick='$(".wizard_video_overview").show();return false;' target='_blank'>
		    	{% trans 'Watch the video overview' %}
		    </a>
		    </div>
		    
		    {% if alias.account.service.allow_outlook %}
			    <h3 style='margin-top: 10px;'>{% trans 'Downloads' %}</h3>
			
				<div align='left' style='text-align:left; padding-top: 5px;'>
				    <a title='{% trans "Download the Outlook plugin" %}' href='#' onclick='window.location="/products/outlook/download/";return false;'>
				    	{% trans 'Microsoft Outlook (2007) Plugin' %}
				    </a> 			    
			    </div>
	    	
	    		{% if alias.account.service.allow_sf %}
					<div align='left' style='text-align:left; padding-top: 5px;'>
					    <a title='{% trans "Install the Salesforce plugin" %}' href='#' onclick='window.location="https://login.salesforce.com/?startURL=%2Fpackaging%2FinstallPackage.apexp%3Fp0%3D04t36360000cPRp";return false;'>
					    	{% trans 'Salesforce Plugin' %}
					    </a> 			    
				    </div>	 
				{% endif %}   			
	    	{% endif %}
	    	
	    	<h3 style='margin-top: 10px;'>{% trans 'Guide' %}</h3>
			
		    <div align='left' style='text-align:left; padding-top: 5px;'>
			    
			    
			    <a href='#' onclick='$(".wizard_help").show();return false;'>{% trans 'Best practices' %}</a><br/>
			  	
			    <a href='/info/faq/'>{% trans 'FAQ' %}</a><br/>
			    <a href='/info/api/'>{% trans 'Developer API' %}</a><br/>
			    <a href='/info/syntax/'>{% trans 'Learn the syntax' %}</a>
			    
			    <div style='margin-top: 10px; text-align:center;'>
			     <div style='background: #eee; padding: 5px; border: 1px solid #ccc;'>
			     	<strong>{% trans 'Need help? Your account manager:' %}</strong><br/>
			     	<a href='mailto:calenvy@{{site.domain}}'>{% trans 'Calenvy' %}</a><br/>
			     </div>
			     
			     
			    </div>
			    
			    
			    
			</div>
			
	    	
	    	
	    </div>
    
    	<div class='wizard_intro_hidden' id='wizard_intro_hidden' style='display:{% if alias.show_modal_intro %}none{% endif %};'>
    
	    	<div style='float:right'>
		    <a title='{% trans "Maximize for video and downloads." %}' href='#' onclick='Ajax.set_modals("intro", 1); return false;'>
		    	<img src='/static/tango/actions/list-add.png' border='0'/>
		    </a>
		   	</div>
		    
		    <h3>{% trans 'Help & Downloads' %}</h3>
    
    	</div>
 
</div>